<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Select</title>
    <link rel="stylesheet" href="../../styles/bundle.min.css" />
    <link rel="stylesheet" href="../../styles/assets.min.css" />
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon" />
</head>


<body>
    <div class="select-temp select-temp-container">
        <div class="select-temp-item">
            <div class="babajka-dropdown dropdown is-active">
                <div class="dropdown-trigger">
                    <div class="control has-icons-right">
                        <input class="babajka-dropdown-input input" placeholder="Choose fruit..." />
                        <span class="icon is-small is-right">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </span>
                    </div>
                </div>
                <div class="babajka-dropdown-menu dropdown-menu" id="dropdown-menu-fruits" role="menu">
                    <ul class="babajka-dropdown-content dropdown-content">
                        <li class="dropdown-item">
                            Banana
                        </li>
                        <li class="dropdown-item is-active">
                            Apple
                        </li>
                        <li class="dropdown-item">
                            Orange
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="select-temp-item">
            <div class="babajka-dropdown dropdown is-active">
                <div class="dropdown-trigger">
                    <div class="control has-icons-right">
                        <input class="babajka-dropdown-input input" placeholder="Choose author..." />
                        <span class="icon is-small is-right">
                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                </span>
                    </div>
                </div>
                <div class="babajka-dropdown-menu dropdown-menu" id="dropdown-menu-authors" role="menu">
                    <ul class="babajka-dropdown-content dropdown-content">
                        <li class="dropdown-item">
                            


<span class="user">
    <figure class="user-ava image is-32x32">
        <img src="../../images/volski.jpg" />
    </figure>
    <span class="table-card-user__name">Lavon Volski</span>
</span>

                        </li>
                        <li class="dropdown-item">
                            


<span class="user">
    <figure class="user-ava image is-32x32">
        <img src="../../images/mort.jpg" />
    </figure>
    <span class="table-card-user__name">Вальжына Морт</span>
</span>

                        </li>
                        <li class="dropdown-item is-active">
                            


<span class="user">
    <figure class="user-ava image is-32x32">
        <img src="../../images/vajc.jpg" />
    </figure>
    <span class="table-card-user__name">Вайцюшкевіч</span>
</span>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="select-temp-item">
            <div class="babajka-dropdown dropdown">
                <div class="dropdown-trigger">
                    <div class="control has-icons-right">
                        <div class="input">
                            


<span class="user">
    <figure class="user-ava image is-32x32">
        <img src="../../images/vajc.jpg" />
    </figure>
    <span class="table-card-user__name">Вайцюшкевіч</span>
</span>

                        </div>
                        <span class="icon is-small is-right">
                <span class="babajka-dropdown-clear">×</span>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
