@import '../variables';

.stub-page,
.error-page {
  font-family: 'Open Sans', sans-serif;
  padding: 4rem 1rem;
  text-align: center;

  a:link,
  a:visited {
    color: inherit;
  }

  .logo {
    margin-bottom: 1rem;
    width: 8rem;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .title-alt {
    color: $primary-darkgray;
    font-size: 1.6rem;
    font-weight: 300;
  }

  .subtitle {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .links {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .links-alignment {
    display: inline-block;
    vertical-align: middle;
  }

  .button {
    font-size: 1.3rem;
  }

  .social {
    font-size: 2rem;

    i {
      margin: 0 0.7rem;

      @include touch {
        margin: 0 0.4rem;
      }
    }

    .facebook:hover {
      color: $facebook-color;
    }

    .vk:hover {
      color: $vk-color;
    }

    .twitter:hover {
      color: $twitter-color;
    }

    .telegram:hover {
      color: $telegram-color;
    }

    .youtube:hover {
      color: $youtube-color;
    }

    .instagram:hover {
      color: $instagram-color;
    }
  }
}

.in-development-stub {
  a:link,
  a:visited {
    text-decoration: underline;
  }

  .highlight {
    font-size: 1.2rem;
    margin: 0 30%;

    @include touch {
      margin: 0 1rem;
    }
  }

  .specials {
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: auto;

    @include touch {
      align-items: center;
    }

    @include desktop {
      flex-direction: row;
      justify-content: center;
      width: 80%;
    }
  }

  .special-section {
    border: 2px solid;
    border-radius: 10px;
    // height: 100%;
    margin: 0 0.5rem;
    overflow: hidden;

    @include touch {
      margin-bottom: 1rem;
      text-align: center;
      width: 90%;
    }

    &__action {
      border-radius: 7px;
      color: $primary-white;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      margin: 0.5rem;
      padding: 0.15rem 0.6rem;
    }

    img {
      @include touch {
        margin: 0.5rem;
      }
    }

    &__text {
      margin: 0.5rem;
      text-align: center;

      @include desktop {
        margin: 0.5rem;
        text-align: left;
      }
    }

    &__title {
      font-size: 1.3rem;
      font-weight: bold;
      margin: 0.5rem;
    }

    &__left {
      @include desktop {
        float: left;
      }
    }

    &__right {
      @include desktop {
        float: right;
      }
    }

    &__large {
      @include desktop {
        width: 50%;
      }
    }

    &__small {
      @include desktop {
        width: 35%;
      }
    }
  }

  .social-weekend {
    border-color: $socialweekend-color;

    img {
      width: 80%;

      @include desktop {
        float: left;
        margin: 0.5rem;
        width: 25%;
      }
    }
  }

  .wir-stickers {
    border-color: $skaryna-stickers-color;

    img {
      max-width: 95%;

      @include desktop {
        float: right;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        width: 45%;
      }

      @include touch {
        margin: 0;
        margin-top: 0.5rem;
        width: 35%;
      }
    }

    &__action {
      background-color: $skaryna-stickers-color;
      color: #fff;
    }
  }

  .project-description {
    text-align: left;

    @include touch {
      margin: 3rem 5% 0;
    }

    @include desktop-only {
      margin: 4rem 10% 0;
    }

    @include widescreen {
      margin: 4rem 15% 0;
    }

    h1 {
      font-size: 1.7rem;
      margin: 2rem 0 0.5rem;
    }

    ul {
      list-style-type: disc;
    }
  }

  .team {
    margin: 1.5rem 1rem;

    @include widescreen {
      margin: 1.5rem 5rem;
    }

    .title {
      color: $primary;
      font-size: 1.7rem;
    }

    .teammate {
      align-items: center;
      display: flex;
      flex-direction: column;

      img {
        border-radius: 50%;
        height: 6rem;
        width: 6rem;
      }

      .name {
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
      }

      .role {
        color: $primary-darkgray;
        font-size: 0.6rem;
        text-align: center;
      }
    }

    .thanks {
      font-size: 0.75rem;
      text-align: center;
    }
  }

  .partner-logo {
    margin: auto;
    text-align: center;

    @include mobile {
      padding: 0 25%;
    }
  }
}
