@import '../variables';

.stub-page {
  font-family: 'Open Sans', sans-serif;
  padding: 4rem 1rem;
  text-align: center;

  a:link,
  a:visited {
    color: inherit;
  }

  .logo {
    margin-bottom: 1rem;
    width: 10rem;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .title-alt {
    color: $primary-darkgray;
    font-size: 1.6rem;
    font-weight: 300;
  }

  .subtitle {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .links {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .links-alignment {
    display: inline-block;
    vertical-align: middle;
  }

  .button {
    font-size: 1.3rem;
  }

  .social {
    font-size: 2rem;

    i {
      margin: 0 0.7rem;

      @include touch {
        margin: 0 0.4rem;
      }
    }

    .facebook:hover {
      color: $facebook-color;
    }

    .vk:hover {
      color: $vk-color;
    }

    .twitter:hover {
      color: $twitter-color;
    }

    .telegram:hover {
      color: $telegram-color;
    }

    .youtube:hover {
      color: $youtube-color;
    }

    .instagram:hover {
      color: $instagram-color;
    }
  }
}

.in-development-stub {
  .highlight {
    font-size: 1.2rem;
    margin: 0 30%;

    @include touch {
      margin: 0 1rem;
    }
  }

  .social-weekend {
    border: 2px solid $socialweekend-color;
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
    text-align: left;
    width: 50%;

    @include touch {
      width: 90%;
    }

    .sent {
      background-color: $socialweekend-color;
      border-radius: 10px;
      color: $primary-white;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      margin-top: 0.5rem;
      padding: 0.15rem 0.6rem;
    }

    img {
      float: left;
      height: 7rem;
      margin: 0.5rem;
      margin-right: 1rem;

      @include touch {
        float: none;
        margin: 0.5rem;
      }
    }

    .text {
      margin: 0.5rem 0;

      @include touch {
        margin: 0.5rem;
      }
    }
  }

  .project-description {
    margin: 4rem 15% 0;
    text-align: left;

    @include touch {
      margin: 2rem 1rem;
    }

    h1 {
      font-size: 1.7rem;
      margin: 1rem 0 0.5rem;
    }

    ul {
      list-style-type: disc;
    }
  }
}
