@import '../variables';

.article-content {
  flex: 1 0 auto;
}

.article-container.container {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.article-side {
  max-width: 10rem;

  &__actions {
    margin-left: 2rem;

    @media only screen and (max-width: $intermediate) {
      display: none;
    }
  }

  &__top {
    position: fixed;
    top: 150px;
  }

  &__bottom {
    bottom: 150px;
    position: fixed;
  }

  &__button {
    margin: 0.25rem;

    &.button {
      height: 2.75rem;
      width: 2.75rem;
    }

    &--remove {
      margin-bottom: 3rem;
    }
  }

  .icon:hover {
    font-size: 1.5rem;
  }
}

.icon-button {
  &.button {
    border: none; /* stylelint-disable-line */
  }

  &__usual-icon {
    color: $primary-gray-alt;
  }

  &__facebook-icon {
    color: $facebook-color;
  }

  &__vk-icon {
    color: $vk-color;
  }

  &__twitter-icon {
    color: $twitter-color;
  }
}

.article.column {
  padding: 0;
}

.article {
  min-width: 0;

  &__top {
    padding: 2rem 2rem 1rem;
  }

  &__collection-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__invisible-another-name {
    visibility: hidden;
  }

  &__visible-another-name {
    visibility: visible;
  }

  &__another-names {
    font-style: italic;
    margin-bottom: 0.5rem;
    margin-top: -2rem;
  }

  &__next-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__another {
    display: table;
  }

  &__arrow-wrap {
    color: $primary-gray-alt;
    display: table-cell;
    vertical-align: middle;

    &:hover {
      color: $primary-black;
    }
  }

  &__arrow.fa {
    font-size: 1.5rem;
  }

  &__collection {
    color: $primary-gray-alt;
    text-decoration: underline;
  }

  &__title-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title.title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;

    @media only screen and (max-width: $tablet) {
      font-size: 2rem;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 1.5rem;
    }
  }

  &__usual-icon.icon:hover {
    color: darken($primary-gray-alt, 15%);
  }

  &__facebook-icon.icon:hover {
    color: darken($facebook-color, 15%);
  }

  &__vk-icon.icon:hover {
    color: darken($vk-color, 15%);
  }

  &__twitter-icon.icon:hover {
    color: darken($twitter-color, 15%);
  }

  &__action.button {
    border: none; /* stylelint-disable-line */
    height: 2.75rem;
    width: 2.75rem;
  }

  &__info {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media only screen and (max-width: $mobile) {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__info-left {

    @media only screen and (max-width: $mobile) {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
    }
  }

  &__info-item {
    color: $primary-gray-alt;
    margin-right: 1.5rem;

    &--clickable:hover {
      color: $primary-black;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 1.5rem;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 0.85rem;
    }
  }

  &__info-icon {
    color: $primary;
  }

  &__info-link {
    text-decoration: underline;
  }

  &__info-planned.tag {
    background-color: $primary;
    color: #ffffff;
  }

  &__author-block {
    border-bottom: 1px solid lighten($color: $primary-gray-alt, $amount: 17%);
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
  }

  &__author-info {
    margin-top: 0.75rem;
  }

  &__author-image-wrap {
    float: left;
    margin-right: 0.5rem;
  }

  &__info-now {

    @media only screen and (max-width: $mobile) {
      margin-top: 2px;
    }
  }

  &__info-langs {
    margin-top: 1rem;
  }

  &__info-lang {
    margin-left: 0.5rem;
  }

  &__info-lang.tag {
    background-color: #ffffff;
    border: 1px solid $primary-bright;
    color: $primary-bright;
  }

  &__author-menu.dropdown-menu {
    left: -3.2rem;
    top: -1rem;
    width: 20rem;
  }

  &__author-top {
    padding-bottom: 0.75rem;
  }

  &__author-name {
    color: $primary;
    font-weight: bold;
  }

  &__author-image {
    border-radius: 3px;
  }

  &__imagewrapper {
    padding: 1rem 0;
  }

  &__playerwrapper {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
  }

  &__player {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__text {
    font-family: $family-serif;
    padding: 1rem 2rem;
  }

  &__bottom {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2rem 1rem;
  }

  &__bottom-item {
    color: $primary-gray-alt;
    margin-right: 1rem;
  }

  &__bottom-text {
    color: $primary-black;
  }

  &__actions {
    display: none;

    @media only screen and (max-width: $intermediate) {
      display: block;
    }
  }

  &__line {
    margin: 0;
  }

  &__more {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.25rem 2rem;

    .column {
      padding: 0;
    }
  }

  &__more-text {
    padding-bottom: 1.5rem;
  }
}
