# @andemerie and @tyndria responsible for the styles and markup
*.ejs @andemerie @tyndria
*.scss @andemerie @tyndria

# @drapegnik responsible for developing support,
* build stuff, deploying and etc.
.htmlhintrc @drapegnik
.prettierrc @drapegnik
*.js @drapegnik
*.yml @drapegnik
*.json @drapegnik
