@import '../../variables';

.main-page {
  .diary-wrapper {
    border: 0.25rem solid $primary;

    .arrow {
      cursor: pointer;
      font-size: 1.2rem;
      height: 100%;
      opacity: 0.4;
      padding: 0 0.8rem;
      position: absolute;
      top: 0;
      width: auto;

      &:focus {
        outline: none;
      }
    }

    .arrow-left {
      left: 0;

      &:hover {
        background: linear-gradient(90deg, $primary-gray-alt, $white);
      }
    }

    .arrow-right {
      right: 0;

      &:hover {
        background: linear-gradient(-90deg, $primary-gray-alt, $white);
      }
    }
  }

  .diary-article {
    display: flex;
    height: 100%;
    margin: 0 2rem;
    outline: none;
    padding: 1rem 0.5rem;
    transition: color 0.2s linear;

    &:hover {
      box-shadow: none;
    }

    .text {
      font-size: 1rem;
      font-style: italic;
      line-height: 1.2rem;
      margin-right: 0.5rem;
      margin-top: 1rem;
      // max-height should be equal to N*line-height, otherwise lines might be
      // cut vertically in some random point.
      max-height: 12rem;
      overflow-y: hidden;
      padding: 0.1rem;

      &:hover {
        box-shadow: none;
        color: $primary-darkgray;
      }
    }

    .ellipsis {
      color: $primary;
      font-size: 2rem;
      letter-spacing: 5px;
      line-height: 1rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    .title {
      font-size: 1.7rem;
      margin-bottom: 0.5rem;
      transition: color 0.2s linear;
    }

    .date {
      display: inline-block;
      padding-bottom: 0.5rem;
      width: 100%;
    }

    .author {
      margin-bottom: 0.5rem;
      word-break: normal;
    }

    .no-content {
      margin: auto;

      img {
        filter: grayscale(70%) opacity(20%);
        padding: 0 2rem;
      }
    }
  }
}
