<div class="tile">
    <div class="tile is-parent">
        <div class="card tile is-child diary-wrapper">
            <article class="diary-article">
                <h1 class="title">Дзённік на сёння</h1>
                <div class="date">
                    <div class="is-pulled-right">1 траўня 2018</div>
                </div>
                <div class="diary-content">
                    <div class="text">
                        <%= diaryText %>
                    </div>
                    <div class="ellipsis"><span>...</span></div>
                </div>
                <!--<div class="no-content">
                    <img class="logo-image no-content" src="<%= imagesPath %>/logo/turq-transparent.png" />
                </div>-->
                <span class="author">Іосіф Бродскі, Пецербург</span>
            </article>

            <span class="icon is-small arrow arrow-left" title="Папярэдні">
                <i class="fa fa-chevron-left"></i>
            </span>

            <span class="icon is-small arrow arrow-right" title="Наступны">
                <i class="fa fa-chevron-right"></i>
            </span>
        </div>
    </div>
</div>
