<div class="articles-by-tag">
    <div class="articles-by-tag__head">
        <h3 class="articles-by-tag__title">Test</h3>
        <h3 class="articles-by-tag__title">Test</h3>
    </div>
    <div class="articles-by-tag__list">
        <%- include('../../cards/person.ejs', { size: 'square-s', title: 'Дэвід Боўі', years: '1947—2016' }) %>
        <%- include('../../cards/person.ejs', { size: 'square-s', title: 'Дэвід Боўі', years: '1947—2016' }) %>
        <%- include('../../cards/person.ejs', { size: 'square-s', title: 'Дэвід Боўі', years: '1947—2016' }) %>
    </div>
</div>
