<div class="partner-material">
  <div class="partner-material__content">
    <%- include('../../cards/person.ejs', { size: 'square-m', title: 'Дэвід Боўі', years: '1947—2016' }) %>
    <%- include('../../cards/person.ejs', { size: 'square-m', title: 'Дэвід Боўі', years: '1947—2016' }) %>
  </div>
  <div class="partner-material__descrition">
    <span class="partner-material__block">
      Нацыянальны мастацкі музей
    </span>
    <div class="partner-material__block">
      <a href="" class="partner-material__link">Усе партнёрскія матэрыялы</a>
    </div>
  </div>
</div>
