<div class="diary">
    <h3 class="diary__title">
        <b class="diary__date">10 лістапада</b> 1956 Уладзімір караткевіч занатаваў у дзенніку</h3>
    <p class="diary__text">
        Test text text fkjs lkfjsd lkfsdj flsdk fjsdlkf jsdflksd jfsdlkf jdsflkdsjf sdlkf j
        <a href="" class="diary__link">Цалкам</a>
    </p>
    <img src="/images/mock/persons/vladimir_korotkevich.png" alt="" class="diary__image"/>
</div>
