<div class="tags-by-topic">
    <h3 class="tags-by-topic__title">Усе Лакацыі</h3>
    <div class="tags-by-topic__wrap">
        <div class="tags-by-topic__block">
            <%- include('../../cards/location.ejs', { size: "s", title: "Міжзем'e" }) %>
            <%- include('../../cards/location.ejs', { size: "s", title: 'ВКЛ' }) %>
        </div>
        <%- include('../../cards/location.ejs', { size: "l", title: 'Беларусь' }) %>
    </div>
</div>
