<div class="tags-by-topic">
    <h3 class="tags-by-topic__title">Усе Персаналіі</h3>
    <div class="tags-by-topic__wrap">
        <%- include('../../cards/person.ejs', { size: 'l', title: 'Дэвід Боўі' }) %>
        <div class="tags-by-topic__block">
            <%- include('../../cards/person.ejs', { size: 'l', title: 'Дэвід Боўі' }) %>
            <%- include('../../cards/person.ejs', { size: 'l', title: 'Дэвід Боўі', years: '1947—2016' }) %>
        </div>
    </div>
</div>
