<div class="popular-topic">
  <div class="popular-topic__descrition">
      <span class="popular-topic__block">
          Папулярная тема:
          <a href="" class="popular-topic__link">
              міфалогія
          </a>
      </span>
      <div class="popular-topic__block">
          <a href="" class="popular-topic__link">Усе тэмы</a>
      </div>
  </div>
  <div class="popular-topic__content">
      <%- include('../../cards/person.ejs', { size: 'square-m', title: 'Дэвід Боўі', years: '1947—2016' }) %>
      <%- include('../../cards/person.ejs', { size: 'square-m', title: 'Дэвід Боўі', years: '1947—2016' }) %>
  </div>
</div>
