<div class="babajka-dropdown dropdown is-active">
  <div class="babajka-dropdown__trigger dropdown-trigger">
    <div class="control has-icons-right">
      <input class="babajka-dropdown-input input" placeholder="Choose author..." />
      <span class="icon is-small is-right">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div class="babajka-dropdown-menu dropdown-menu" role="menu">
    <ul class="babajka-dropdown-content dropdown-content">
      <li class="dropdown-item">
        <span class="user">
  <figure class="user-ava image is-32x32">
    <img src="/babajka-markup/legacy/static/images/mock/volski.jpg" />
  </figure>
  <span class="table-card-user__name">
    Lavon Volski
  </span>
</span>

      </li>
      <li class="dropdown-item">
        <span class="user">
  <figure class="user-ava image is-32x32">
    <img src="/babajka-markup/legacy/static/images/mock/mort.jpg" />
  </figure>
  <span class="table-card-user__name">
    Вальжына Морт
  </span>
</span>

      </li>
      <li class="dropdown-item is-active">
        <span class="user">
  <figure class="user-ava image is-32x32">
    <img src="/babajka-markup/legacy/static/images/mock/vajc.jpg" />
  </figure>
  <span class="table-card-user__name">
    Вайцюшкевіч
  </span>
</span>

      </li>
    </ul>
  </div>
</div>
