<!DOCTYPE html>
<html lang="be">



<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#1a9582" />
  <title>
    Default title
  </title>
  <link rel="stylesheet" href="/babajka-markup/static/styles/normalize.css" />
  <link rel="stylesheet" href="/babajka-markup/static/styles/bundle.min.css" />
  <link rel="stylesheet" href="/babajka-markup/static/styles/assets.min.css" />
  <link rel="icon" type="image/png" href="/babajka-markup/static/images/logo/favicon.png" />
</head>


<body>

  <script>
    function toggleSidebar() {
      console.log('toggled');
      document.getElementById("wir-sidebar").classList.toggle("wir-sidebar--present");
    }
  </script>

  <div class="wir-root">

    <div class="wir-space">
      <div class="navbar">
  <img class="navbar__logo" src="/babajka-markup/static/images/logo/favicon.png" />
  <div class="navbar__title">
    <a class="wir-link  
   
  ">
  <span>Беларуская</span>
  
</a>,
    а таксама
    <a class="wir-link  
   
  ">
  <span>сусветная</span>
  
</a>
    культура і
    <a class="wir-link  
   
  ">
  <span>гісторыя</span>
  
</a>
  </div>
  <div class="navbar__burger" onclick="toggleSidebar()">
    <div class="navbar__burger-item"></div>
    <div class="navbar__burger-item"></div>
    <div class="navbar__burger-item"></div>
  </div>
</div>


      <div class="wir-content"></div>

      <footer class="footer footer-layout">
  <div class="footer-layout__nested1">
    <div class="footer-layout__nested2">

      <div class="footer-layout__block1 footer__links">
        <div class="footer__links-column">
          <div class="footer__header">
            Матэрыялы
          </div>
          <div class="footer__item">
            <a class="wir-link  
   
  ">
  <span>Па тэмах</span>
  
</a>
          </div>
          <div class="footer__item">
            <a class="wir-link  
   
  ">
  <span>Персаналіях</span>
  
</a>
          </div>
          <div class="footer__item">
            <a class="wir-link  
   
  ">
  <span>Храналогіі</span>
  
</a>
          </div>
          <div class="footer__item">
            <a class="wir-link  
   
  ">
  <span>Лакацыях</span>
  
</a>
          </div>
          <div class="footer__item">
            <a class="wir-link  
   
  ">
  <span>Партнёрах</span>
  
</a>
          </div>
          <div class="footer__item">
            <a class="wir-link  
   
  ">
  <span>Аўтарах</span>
  
</a>
          </div>
        </div>
        <div class="footer__links-column">
          <div class="footer__header">
            Мы ў сетках
          </div>
          <div class="footer__item">
            <a class="wir-link  
   
  ">
  <span>Facebook</span>
  
</a>
          </div>
          <div class="footer__item">
            <a class="wir-link  
   
  ">
  <span>Instagram</span>
  
</a>
          </div>
          <div class="footer__item">
            <a class="wir-link  
   
  ">
  <span>Twitter</span>
  
</a>
          </div>
          <div class="footer__item">
            <a class="wir-link  
   
  ">
  <span>ВКонтакте</span>
  
</a>
          </div>
          <div class="footer__item">
            <a class="wir-link  
   
  ">
  <span>YouTube</span>
  
</a>
          </div>
        </div>
      </div>

      <div class="footer-layout__block2">
        <div class="footer__interactions">
          <div class="footer__mailing">
            <div class="footer__header">
              Падпісацца на абнаўленні
            </div>
            <div class="footer__item">
              <div class="wir-input search">
  <input  />
    
    
      <span class="wir-input__icon wir-input__icon-left">
        <i class="fa fa-envelope"></i>
      </span>
    
  
  
  <span class="wir-input__bar"></span>
</div>

            </div>
          </div>
          <div class="footer__social">
            <div class="footer__header">
              Расказаць пра нас усім
            </div>
            <div class="wir-social-buttons">
  <div class="wir-social-buttons__container">
    <div class="wir-social-buttons__item wir-social-buttons__button wir-social-buttons__button--facebook">
      <span>
        <i class="fa fa-facebook-square"></i>
      </span>
    </div>
    <div class="wir-social-buttons__item wir-social-buttons__button wir-social-buttons__button--vk">
      <span>
        <i class="fa fa-vk"></i>
      </span>
    </div>
    <div class="wir-social-buttons__item wir-social-buttons__button wir-social-buttons__button--twitter">
      <span>
        <i class="fa fa-twitter"></i>
      </span>
    </div>
    <div class="wir-social-buttons__item wir-social-buttons__button wir-social-buttons__button--odnoklassniki">
      <span>
        <i class="fa fa-odnoklassniki"></i>
      </span>
    </div>
  </div>
</div>

          </div>
        </div>
      </div>

    </div>

    <div class="footer-layout__block3">
      <div class="footer__help-us">
        <div class="footer__header">
          Дапамагчы нам
        </div>
        <div class="footer__help-text">
          Калі вы знайшлі памылку, у вас ёсць заўвагі па сайце,
          ці хочаце дапамагчы нам, калі ласка, напішыце
          <a class="wir-link theme-dark" href="mailto:help@wir.by"><span>на help@wir.by</span></a>
        </div>
      </div>
    </div>

  </div>

  <div class="footer-layout__block4 footer__bottom">
    <span class="footer__copyright">
      © Wir.by, 2019
    </span>
    <a class="wir-link  
   
  ">
  <span>Пра праект</span>
  
</a>
  </div>
</footer>

    </div>

    <div id="wir-sidebar" class="wir-sidebar wir-sidebar--present">
      <aside class="sidebar">
  <span class="sidebar__icon-close" onclick="toggleSidebar()">
    <i class="fa fa-times"></i>
  </span>

  <ul class="sidebar__langs">
    
      <li class="langs__item">
        <a>по-русски</a>
      </li>
    
      <li class="langs__item">
        <a>in english</a>
      </li>
    
  </ul>

  <div class="sidebar__about-label">
    <a class="wir-link  
   
  ">
  <span></span>
  
</a>
  </div>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <ul class="sidebar__section-list">
      <li class="sidebar__section-list-item"><a>Топ-10</a></li>
      <li class="sidebar__section-list-item"><a>Самае актуальнае</a></li>
      <li class="sidebar__section-list-item"><a>&lt5 хвілін на прагляд</a></li>
    </ul>
  </section>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <ul class="sidebar__section-list">
      <li class="sidebar__section-list-item"><a>Артыкулы</a></li>
      <li class="sidebar__section-list-item"><a>Відэалекцыі</a></li>
      <li class="sidebar__section-list-item"><a>падкасты</a></li>
      <li class="sidebar__section-list-item"><a>гульні і тэсты</a></li>
    </ul>
  </section>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <div class="sidebar__section-title">
      тэмы
    </div>
    <ul class="sidebar__section-list">
      
        <li class="sidebar__section-list-item"><a>архітэктура</a></li>
      
        <li class="sidebar__section-list-item"><a>гісторыя</a></li>
      
        <li class="sidebar__section-list-item"><a>кіно</a></li>
      
        <li class="sidebar__section-list-item"><a>лінгвістыка</a></li>
      
        <li class="sidebar__section-list-item"><a>літаратура</a></li>
      
        <li class="sidebar__section-list-item"><a>мастацтва</a></li>
      
        <li class="sidebar__section-list-item"><a>міфалогія</a></li>
      
        <li class="sidebar__section-list-item"><a>музыка</a></li>
      
        <li class="sidebar__section-list-item"><a>тэатр</a></li>
      
        <li class="sidebar__section-list-item"><a>філасофія</a></li>
      
    </ul>
  </section>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <div class="sidebar__section-title">
      асноўныя персаналіі
    </div>
    <ul class="sidebar__section-list">
      
        <li class="sidebar__section-list-item"><a>Янка Купала</a></li>
      
        <li class="sidebar__section-list-item"><a>Уладзімір Караткевіч</a></li>
      
        <li class="sidebar__section-list-item"><a>Адам Міцкевіч</a></li>
      
        <li class="sidebar__section-list-item"><a>Якуб Колас</a></li>
      
        <li class="sidebar__section-list-item"><a>Ян Баршчэўскі</a></li>
      
    </ul>
    <span class="sidebar__section-link-to-all"><a>усе персаналіі</a></span>
  </section>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <div class="sidebar__section-title">
      асноўныя часы
    </div>
    <ul class="sidebar__section-list">
      
        <li class="sidebar__section-list-item"><a>1956 год</a></li>
      
        <li class="sidebar__section-list-item"><a>сення</a></li>
      
        <li class="sidebar__section-list-item"><a>у будучыні</a></li>
      
        <li class="sidebar__section-list-item"><a>1863 год</a></li>
      
        <li class="sidebar__section-list-item"><a>XX стагоддзе</a></li>
      
    </ul>
    <span class="sidebar__section-link-to-all"><a>уся храналогія</a></span>
  </section>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <div class="sidebar__section-title">
      асноўныя лакацыі
    </div>
    <ul class="sidebar__section-list">
      
        <li class="sidebar__section-list-item"><a>Мінск</a></li>
      
        <li class="sidebar__section-list-item"><a>ВКЛ</a></li>
      
        <li class="sidebar__section-list-item"><a>беларусь</a></li>
      
        <li class="sidebar__section-list-item"><a>лондан</a></li>
      
        <li class="sidebar__section-list-item"><a>еўропа</a></li>
      
    </ul>
    <span class="sidebar__section-link-to-all"><a>усе лакацыі</a></span>
  </section>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <div class="sidebar__section-title">
      матэрыялы партнераў
    </div>
    <ul class="sidebar__section-list">
      
        <li class="sidebar__section-list-item"><a>Нацыянальны мастацкі музей</a></li>
      
        <li class="sidebar__section-list-item"><a>Кніжная шафа</a></li>
      
        <li class="sidebar__section-list-item"><a>Літаратурны музей Петруся Броўкі</a></li>
      
        <li class="sidebar__section-list-item"><a>Мінскі фестываль моў</a></li>
      
    </ul>
  </section>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <div class="sidebar__section-title">
      папулярныя аўтары
    </div>
    <ul class="sidebar__section-list">
      
        <li class="sidebar__section-list-item"><a>Марыя Бадзей</a></li>
      
        <li class="sidebar__section-list-item"><a>Марына Анісімава</a></li>
      
        <li class="sidebar__section-list-item"><a>Аляксей Барысевіч</a></li>
      
        <li class="sidebar__section-list-item"><a>Ірына Галухіна</a></li>
      
        <li class="sidebar__section-list-item"><a>Вікторыя Міхнюк</a></li>
      
    </ul>
    <span class="sidebar__section-link-to-all"><a>уся каманда wir.by</a></span>
  </section>
</aside>

    </div>

    <a class="wir-up" href="#">
      <span>
        <i class="fa fa-arrow-circle-o-up"></i>
      </span>
    </a>

  </div>

</body>

</html>
