<!DOCTYPE html>
<html lang="be">

<head>
  <title>
    Layout
  </title>
  <link rel="icon" type="image/png" href="/babajka-markup/static/images/logo/favicon.png" />

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#1a9582" />

  <link rel="stylesheet" href="/babajka-markup/static/styles/normalize.css" />
  <link rel="stylesheet" href="/babajka-markup/static/styles/bundle.min.css" />
  <link rel="stylesheet" href="/babajka-markup/static/styles/assets.min.css" />
</head>


<body>

  <script>
    function toggleSidebar() {
      document.getElementById("wir-sidebar").classList.toggle("wir-sidebar--expanded");
      document.getElementById("wir-overlay").classList.toggle("wir-overlay--active");
    }
  </script>

  <div class="wir-root">

    <div class="wir-space">
      <div class="navbar">
  <img class="navbar__logo" src="/babajka-markup/static/images/logo/favicon.png" />
  <div class="navbar__title">
    <a class="wir-link 
  
  "
  
   >
  <span>Беларуская</span>
  
</a>

    , а таксама
    <a class="wir-link 
  
  "
  
   >
  <span>сусветная</span>
  
</a>

    культура і
    <a class="wir-link 
  
  "
  
   >
  <span>гісторыя</span>
  
</a>

  </div>
  <div class="navbar__burger" onclick="toggleSidebar()">
    <div class="navbar__burger-item"></div>
    <div class="navbar__burger-item"></div>
    <div class="navbar__burger-item"></div>
  </div>
</div>


      <div class="wir-content">
        
      </div>

      <footer class="footer footer-layout">
  <div class="footer-layout__nested1">
    <div class="footer-layout__nested2">

      <div class="footer-layout__block1 footer__links">
        <div class="footer__links-column">
          <div class="footer__header">
            Матэрыялы
          </div>
          <div class="footer__item">
            <a class="wir-link 
  
  "
  
   >
  <span>Па тэмах</span>
  
</a>

          </div>
          <div class="footer__item">
            <a class="wir-link 
  
  "
  
   >
  <span>Персаналіях</span>
  
</a>

          </div>
          <div class="footer__item">
            <a class="wir-link 
  
  "
  
   >
  <span>Храналогіі</span>
  
</a>

          </div>
          <div class="footer__item">
            <a class="wir-link 
  
  "
  
   >
  <span>Лакацыях</span>
  
</a>

          </div>
          <div class="footer__item">
            <a class="wir-link 
  
  "
  
   >
  <span>Партнёрах</span>
  
</a>

          </div>
          <div class="footer__item">
            <a class="wir-link 
  
  "
  
   >
  <span>Аўтарах</span>
  
</a>

          </div>
        </div>
        <div class="footer__links-column">
          <div class="footer__header">
            Мы ў сетках
          </div>
          <div class="footer__item">
            <a class="wir-link 
  
  "
   href="https://facebook.com/wirdotby"
   target="_blank" rel="noopener noreferrer"  >
  <span>Facebook</span>
  
</a>

          </div>
          <div class="footer__item">
            <a class="wir-link 
  
  "
   href="https://instagram.com/wir_by"
   target="_blank" rel="noopener noreferrer"  >
  <span>Instagram</span>
  
</a>

          </div>
          <div class="footer__item">
            <a class="wir-link 
  
  "
   href="https://vk.com/wir_by"
   target="_blank" rel="noopener noreferrer"  >
  <span>ВКонтакте</span>
  
</a>

          </div>
          <div class="footer__item">
            <a class="wir-link 
  
  "
   href="https://t.me/wir_by"
   target="_blank" rel="noopener noreferrer"  >
  <span>Telegram</span>
  
</a>

          </div>
          <div class="footer__item">
            <a class="wir-link 
  
  "
   href="https://twitter.com/wir_by"
   target="_blank" rel="noopener noreferrer"  >
  <span>Twitter</span>
  
</a>

          </div>
          <div class="footer__item">
            <a class="wir-link 
  
  "
   href="https://www.youtube.com/channel/UCoj_6A55mEPeba8ZfBHqfCw"
   target="_blank" rel="noopener noreferrer"  >
  <span>YouTube</span>
  
</a>

          </div>
        </div>
      </div>

      <div class="footer-layout__block2">
        <div class="footer__interactions">
          <div class="footer__mailing">
            <div class="footer__header">
              Падпісацца на абнаўленні
            </div>
            <div class="footer__item">
              <div class="wir-input search">
  <input  />
    
    
      <span class="wir-input__icon wir-input__icon-left">
        <i class="fa fa-envelope"></i>
      </span>
    
  
  
  <span class="wir-input__bar"></span>
</div>

            </div>
          </div>
          <div class="footer__social">
            <div class="footer__header">
              Расказаць пра нас усім
            </div>
            <div class="wir-social-buttons">
  <div class="wir-social-buttons__container">
    <div class="wir-social-buttons__item wir-social-buttons__button wir-social-buttons__button--facebook">
      <span>
        <i class="fa fa-facebook-square"></i>
      </span>
    </div>
    <div class="wir-social-buttons__item wir-social-buttons__button wir-social-buttons__button--vk">
      <span>
        <i class="fa fa-vk"></i>
      </span>
    </div>
    <div class="wir-social-buttons__item wir-social-buttons__button wir-social-buttons__button--twitter">
      <span>
        <i class="fa fa-twitter"></i>
      </span>
    </div>
    <div class="wir-social-buttons__item wir-social-buttons__button wir-social-buttons__button--odnoklassniki">
      <span>
        <i class="fa fa-odnoklassniki"></i>
      </span>
    </div>
  </div>
</div>

          </div>
        </div>
      </div>

    </div>

    <div class="footer-layout__block3">
      <div class="footer__help-us">
        <div class="footer__header">
          Дапамагчы нам
        </div>
        <div class="footer__help-text">
          Калі вы&nbsp;знайшлі памылку, у&nbsp;вас ёсць заўвагі па&nbsp;сайце,
          ці&nbsp;хочаце дапамагчы нам, калі ласка, напішыце
          <a class="wir-link 
  
  "
   href="mailto:help@wir.by"
   >
  <span>на&nbsp;help@wir.by</span>
  
</a>

        </div>
      </div>
    </div>

  </div>

  <div class="footer-layout__block4 footer__bottom">
    <span class="footer__copyright">
      © Wir.by, 2019
    </span>

  </div>
</footer>


      <div id="wir-overlay" class="wir-overlay"></div>
    </div>

    <div id="wir-sidebar" class="wir-sidebar">
      <aside class="sidebar">
  <span class="sidebar__icon-close" onclick="toggleSidebar()">
    <a class="wir-link 
  
  "
  
   >
  <span><i class="fa fa-times"></i></span>
  
</a>

  </span>

  <ul class="sidebar__langs">
    
      <li class="langs__item">
        <a class="wir-link 
  
  "
  
   >
  <span>по-русски</span>
  
</a>

      </li>
    
      <li class="langs__item">
        <a class="wir-link 
  
  "
  
   >
  <span>in english</span>
  
</a>

      </li>
    
  </ul>

  <div class="sidebar__about-label">
    <a class="wir-link 
  
  "
  
   >
  <span>пра праект</span>
  
</a>

  </div>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <ul class="sidebar__section-list">
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Топ-10</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Самае актуальнае</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>&lt5 хвілін на прагляд</span>
  
</a>

        </li>
      
    </ul>
  </section>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <ul class="sidebar__section-list">
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Артыкулы</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Відэалекцыі</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>падкасты</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>гульні і тэсты</span>
  
</a>

        </li>
      
    </ul>
  </section>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <div class="sidebar__section-title">
      тэмы
    </div>
    <ul class="sidebar__section-list">
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>архітэктура</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>гісторыя</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>кіно</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>лінгвістыка</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>літаратура</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>мастацтва</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>міфалогія</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>музыка</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>тэатр</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>філасофія</span>
  
</a>

        </li>
      
    </ul>
  </section>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <div class="sidebar__section-title">
      асноўныя асобы
    </div>
    <ul class="sidebar__section-list">
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Янка Купала</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Уладзімір Караткевіч</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Адам Міцкевіч</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Якуб Колас</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Ян Баршчэўскі</span>
  
</a>

        </li>
      
    </ul>
    <span class="sidebar__section-link-to-all">
      <a class="wir-link 
  
  "
  
   >
  <span>усе асобы</span>
  
</a>

    </span>
  </section>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <div class="sidebar__section-title">
      асноўныя часы
    </div>
    <ul class="sidebar__section-list">
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>1956 год</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>сення</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>у будучыні</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>1863 год</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>XX стагоддзе</span>
  
</a>

        </li>
      
    </ul>
    <span class="sidebar__section-link-to-all">
      <a class="wir-link 
  
  "
  
   >
  <span>уся храналогія</span>
  
</a>

    </span>
  </section>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <div class="sidebar__section-title">
      асноўныя лакацыі
    </div>
    <ul class="sidebar__section-list">
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Мінск</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>ВКЛ</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>беларусь</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>лондан</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>еўропа</span>
  
</a>

        </li>
      
    </ul>
    <span class="sidebar__section-link-to-all">
      <a class="wir-link 
  
  "
  
   >
  <span>усе лакацыі</span>
  
</a>

    </span>
  </section>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <div class="sidebar__section-title">
      матэрыялы партнераў
    </div>
    <ul class="sidebar__section-list">
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Нацыянальны мастацкі музей</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Кніжная шафа</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Літаратурны музей Петруся Броўкі</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Мінскі фестываль моў</span>
  
</a>

        </li>
      
    </ul>
  </section>

  <div class="sidebar__divider"></div>

  <section class="sidebar__section">
    <div class="sidebar__section-title">
      папулярныя аўтары
    </div>
    <ul class="sidebar__section-list">
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Марыя Бадзей</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Марына Анісімава</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Аляксей Барысевіч</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Ірына Галухіна</span>
  
</a>

        </li>
      
        <li class="sidebar__section-list-item">
          <a class="wir-link 
  
  "
  
   >
  <span>Вікторыя Міхнюк</span>
  
</a>

        </li>
      
    </ul>
    <span class="sidebar__section-link-to-all">
      <a class="wir-link 
  
  "
  
   >
  <span>уся каманда wir.by</span>
  
</a>

    </span>
  </section>
</aside>

    </div>

    <div class="wir-up">
      <a class="wir-link 
  
  "
   href="#"
   >
  <span><span><i class="fa fa-arrow-circle-o-up"></i></span></span>
  
</a>

    </div>

  </div>

</body>

</html>
