<% var name; %>
<% var photo; %>

<span class="user">
  <figure class="user-ava image is-32x32">
    <img src="<%= imagesPath %>/<%= photo %>" />
  </figure>
  <span class="table-card-user__name">
    <%= name %></span>
</span>
