@import '../variables';

article {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  .card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0.2rem;

    .title {
      font-family: $tile-primary-text;
      font-size: 1.6rem;
      padding: 0.6rem;

      // stylelint-disable-next-line selector-max-compound-selectors
      a {
        font-weight: bold;
      }
    }

    .subtitle {
      flex: 1;
      font-family: $tile-secondary-text;
      font-size: 10pt;
      margin: 10px;
    }

    .tile-footer {
      font-family: $tile-primary-text;
      margin: 10px 5px;
      width: 100%;

      // stylelint-disable selector-max-compound-selectors
      img {
        border: 1px solid $primary;
        border-radius: 5px;
        filter: grayscale(50%);
        float: left;
        margin-left: 5px;
        margin-right: 8px;
        padding: 1px;
        width: 35px;
      }

      .author-name {
        font-size: 1.05rem;
        font-weight: 600;
        padding: 4px;
        text-overflow: ellipsis;
      }

      .publication-scheduled {
        font-family: $tile-secondary-text;
        font-size: 0.85rem;
        margin: 0 1.5rem 0 0;
      }

      .publication-not-scheduled {
        font-family: $tile-secondary-text;
        font-size: 0.75rem;
        margin: 0 0.25rem 0 0;
        max-width: 6rem;
      }
      // stylelint-enable
    }
  }

  &:hover {
    box-shadow: 2px 2px 5px #b5b5b5;
  }
}

.actions {
  color: $white;
  font-size: 0.8rem;
  position: absolute;
  right: 0.5rem;
  text-shadow: 0 0 1rem $primary;
  -webkit-text-stroke: 1px $primary-darkgray;
  top: 0.5rem;

  &:hover {
    font-size: 0.9rem;
  }
}

.video-article {
  color: $white;
  font-size: 2.8rem;
  left: 50%;
  position: absolute;
  text-shadow: 0 0 1rem $primary;
  -webkit-text-stroke: 2px $primary-gray;
  top: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    color: $white;
    font-size: 3rem;
  }
}

.special-heading {
  background-color: #ffffff;
  border: 1px solid $primary;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #ffffff;
  margin: 0 1rem;
  position: absolute;
  top: 1rem;

  .handmade {
    font-weight: bold;
    height: 100%;
    line-height: 200%;
    padding: 0 3px;
    text-align: center;
    text-shadow: 0.5px 0 #a9a9a9;
  }

  .media-content {
    align-self: center;
    display: none;
    font-size: inherit;
    padding-right: 0.5rem;
  }

  &:hover {
    .media-content {
      display: block;
    }
  }

  .media-left {
    margin-right: 0;
  }
}
