<!DOCTYPE html>
<html lang="be">

<%- include('../head/head.ejs', { title: 'Пра нас' }) %>

<body>

  <div>
    <div>
      <div class="babajka-root">
        <div class="babajka-content">
          <% include ../navbar/navbar.ejs %>

          <div class="page-content">

          </div>

          <% include ../footer/footer.ejs %>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
