<!DOCTYPE html>
<html lang="be">
<%- include('../head/head.ejs', { title: 'Пра нас' }) %>

    <body>

        <div>
            <div>
                <div>
                    <div>
                        <% include ../navbar/navbar.ejs %>

                            <div class="page-content">

                            </div>

                            <% include ../footer/footer.ejs %>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>