<!DOCTYPE html>
<html lang="be">

<%- include('../head/head.ejs', { title: 'Пустая старонка' }) %>

<body>

  <div class="babajka-root">

    <% include ../navbar/navbar.ejs %>

    <div class="babajka-content">

    </div>

    <% include ../footer/footer.ejs %>

  </div>

</body>

</html>
