<div class="wir-input search">
  <input <% if (locals.disabled) { %>disabled<% } %> />
  <% if (locals.loading) { %>
    <span class="wir-input__icon wir-input__icon-left wir-input__icon-loading">
      <i class="fa fa-circle-o-notch"></i>
    </span>
  <% } else { %>  
    <% if (locals.leftIcon) { %>
      <span class="wir-input__icon wir-input__icon-left">
        <i class="fa fa-<%= locals.leftIcon %>"></i>
      </span>
    <% } %>
  <% } %>
  <% if (locals.rightIcon) { %>
    <span class="wir-input__icon wir-input__icon-right">
      <i class="fa fa-<%= locals.rightIcon %>"></i>
    </span>
  <% } %>
  <span class="wir-input__bar"></span>
</div>
