@import '../../variables';

.wir-input {
  display: flex;
  position: relative;

  &__icon {
    color: $primary-black;
    font-size: 24px;
    margin: 7px 0 2px;

    &-left {
      margin-right: 11.5px;
      order: -1;
    }

    &-right {
      margin-left: 11.5px;
    }

    &-loading {
      animation: spin 1.5s linear infinite;
    }
  }

  &__bar {
    background-color: $primary-black;
    bottom: 0;
    height: 2px;
    position: absolute;
    width: 100%;
  }

  input {
    background: inherit;
    border: 0;
    flex-grow: 1;
    font-size: 20px;
    height: 30px;
    margin: 5px 0 4px;
    min-width: 0;
    outline: none;

    &:hover ~ .wir-input,
    &:focus ~ .wir-input {
      &__bar {
        background-color: $primary;
      }

      &__icon {
        color: $primary;
      }
    }

    &:disabled ~ .wir-input {
      &__bar {
        background-color: $primary-grey;
      }

      &__icon {
        color: $primary-grey;
      }
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
