<!DOCTYPE html>
<html lang="en">
<% var title = 'Login Page' %>
<% include ../head/head.ejs %>
<body>

<% include ../navbar/navbar.ejs %>

<div class="article-page page-container">

    <div class="page-content">
        <div class="card-image">
            <figure class="image is-3by1">
                <img src="<%= imagesPath %>/photo8.jpg"/>
            </figure>
        </div>

        <div class="card-content">
            <div class="heading">
                "Гэта ня тое як склеіць разьбіты кубак..."
            </div>

            <div class="author">
                <strong>Аўтар:</strong>
                <a href="">Яўген Дадуць</a>
            </div>

            <div class="tags">
                <a href="">#poetry</a>
                <a href=""> #mort</a>
            </div>
            <hr/>

            <div class="text">
                – Вы доўгі час жывяце не ў Беларусі. Як асэнсоўваеце краіну ў новых творах?
                – Для мяне Беларусь пашыраецца не ўшыр, а ўглыб. У маёй новай кнізе вершы пабудаваныя вакол вобраза дрэва,
                якое расце з крыві, касцей, чалавечыны і нашай зямлі. Дрэва расце ўгару, размаўляе з намі лісцем шэптам, які
                нарадзіўся раней за вусны. Мне цікавы шэпт нашых мёртвых, нашых прывідаў. Гэта Беларусь невербалізаваных
                жыццяў, якія не хочуць знікнуць і маўчаць, каб мы іх пачулі.
                – Што здарылася з вашымі кнігамі ў перыяд з 2005 па 2017?
                – Паміж 2005 і 2017 у мяне выйшлі кніжкі ў ЗША, Нямеччыне і Швецыі. У «Эпідэміі ружаў» ёсць вершы з гэтых
                кніжак, і трэць з іх – новыя. У першую чаргу паэт – гэта вушы і вочы. Я ўважліва сачу за прывідамі, слухаю
                сваіх мёртвых. Яны жывуць сярод нас. Іх прысутнасць можна пабачыць на нашых тварах.
                – Мёртвыя – гэта продкі або гэта нейкая метафара?
                – Я не бачу розніцы паміж рэальнасцю і метафарай. Літаратура змешвае памяць і ўяўленне так, што немагчыма
                адрозніць адно ад аднаго. У нашай прыродзе так і ёсць: памяць не можа існаваць без уяўлення, а ўяўленне не
                можа існаваць без памяці. Гэтыя два паняцці існуюць разам.
                Разам яны шукаюць нейкую форму: літаратурную, музычную, кінематаграфічную. Тут няма розніцы. Наогул паэзію і
                літаратуру я бачу як навуку. Біялогія чалавека, анатомія чалавека і літаратурная метафара існуюць для мяне ў
                адной прасторы.
                Метафара – гэта не гуманітарная абстракцыя, а элемент навуковага падыходу да свету. Гэта жаданне знайсці
                матэматычную або фізічную формулу, з дапамогай якой мы скажам: «Я – гэта ты», «Ты – гэта кніга», «Кніга –
                гэта паліца кніг», «Паліца – гэта дрэва, з якой яна зроблена, а дрэва – гэта я». Мы ўсе звязаныя адной
                формулай: розныя рэчы ствараюць асобную прастору, дзе яны могуць быць адным, застаючыся пры гэтым сабою.
                <hr/>
            </div>

            <div class="articles-links">
                <div class="more-articles-text">Чытайце таксама: </div>
                <ul>
                    <li><a href="">Ганна Севярынец распавядае пра паэзію 20-х</a></li>
                    <li><a href="">Еўрапейскі мадэрнізм</a></li>
                    <li><a href="">Людзі на балоце. Успомніць усё</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% include ../footer/footer.ejs %>

</body>
</html>