@import '../variables';

.main-container {
  background: $abbey;
  margin: 0 5%;

  .content {
    font-size: 1.25rem;
    margin: 2.5% 5%;
  }

  .headerimg {
    max-height: 300px;
    min-height: 200px;
    padding-bottom: 25%;
    text-align: center;
    width: 100%;
  }
}

