body {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}

.main-container {
	margin: 0 5%;
	background: white;
}

.navigation-container {
	margin: 1rem 5rem;
}

.navigation-container .nav-item {
	font-size: 1.5rem;
	font-weight: 700;
}

.navigation-container .logo {
	font-size: 2rem;
}

.navigation-container .search-field {
	margin: auto;
}

.content {
	    font-family: 'PT Serif', serif;
	    font-size: 1.25rem;
	    margin: 2.5% 5%;
}

.content h1 {font-family: 'PT Sans', sans-serif}
.content h2 {font-family: 'PT Sans', sans-serif}
.content h3 {font-family: 'PT Sans', sans-serif}
.content h4 {font-family: 'PT Sans', sans-serif}

.headerimg {
  padding-bottom: 25%;
  min-height: 200px;
  max-height: 300px;
  background: url(1.jpg) no-repeat center;
  text-align:center; 
  width: 100%;
}
