<div class="navbar-container">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="../main-page/main-page.html">
                <img class="logo-image" src="<%= imagesPath %>/logo-turq-transparent.png" />
            </a>

            <div class="navbar-burger burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="">
                    <span class="span-text left-span">ЛЕКЦЫI</span>
                </a>
                <a class="navbar-item" href="../main-page/main-page.html">
                    <span class="span-text">АРТЫКУЛЫ</span>
                </a>
                <a class="navbar-item" href="">
                    <span class="span-text right-span">ІНТЭРАКТЫЎ</span>
                </a>

                <a class="navbar-item" href="">
                    <span class="icon is-small is-left">
                        <i class="fa fa-search"></i>
                    </span>
                </a>

                <a class="navbar-item" href="../login-page/login-page.html">
                    <span class="span-text">УВАЙСЦІ</span>
                </a>
            </div>

            <div class="navbar-item lang">
                <a class="navbar-item lang-item" href="">
                    BY
                </a>
                <a class="navbar-item lang-item center" href="">
                    RU
                </a>
                <a class="navbar-item lang-item" href="">
                    EN
                </a>
            </div>
        </div>
    </nav>
</div>
