<div class="navbar-container">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <img src="<%= imagesPath %>/logo1_edited.jpg"/>
                <span class="logo-text"> вір</span>
            </a>

            <div class="navbar-burger burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item " href="">
                    Лекцыі
                </a>
                <a class="navbar-item" href="">
                    Артыкулы
                </a>
                <a class="navbar-item" href="">
                    Інтэрактыў
                </a>

                <!--  <div class="navbar-item">
                      <div class="social-buttons">
                          <a class="social-btn round-btn vk button">
                              <span class="icon"><i class="fa fa-vk"></i></span>
                          </a>

                          <a class="social-btn round-btn facebook button">
                              <span class="icon"><i class="fa fa-facebook"></i></span>
                          </a>

                          <a class="social-btn round-btn twitter button">
                              <span class="icon"><i class="fa fa-twitter"></i></span>
                          </a>

                          <a class="social-btn round-btn google button">
                              <span class="icon"><i class="fa fa-google"></i></span>
                          </a>
                      </div>
                  </div>-->

                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control is-primary">
                            <a class="button is-success" href="">
                                <span>Увайсці</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>