// stylelint-disable selector-max-compound-selectors, max-nesting-depth, no-descending-specificity

@import '../variables';

.navbar {
  flex-shrink: 0;
  font-family: $family-navbar;

  @include desktop {
    padding: 1rem 3rem 0;
  }

  @include touch {
    padding: 1rem 1rem 0;
  }

  .navbar-brand {
    .navbar-item {
      padding-left: 0;
      padding-right: 0;

      @include touch {
        padding: 0;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0);
      }

      .logo-image {
        height: 4rem;
        margin-left: 20px;
        margin-right: 1rem;
        max-height: 6rem;

        @include touch {
          height: 3rem;
          margin: 0;
        }
      }
    }
  }

  .navbar-start {
    .navbar-item {
      color: $primary-black;
      font-size: 1rem;
      font-weight: 600;
      padding-left: 0;
      padding-right: 0;

      &:hover {
        background-color: rgba(255, 255, 255, 0);
      }

      .rubric {
        box-sizing: border-box;

        @include desktop {
          border-bottom: 0.2rem solid $primary;
          border-top: 0.2rem solid transparent;
          margin: 0 0.5rem;
          padding: 1rem 0.5rem;

          &:hover {
            background-color: $primary;
            border-top: 0.2rem solid $primary;
            color: #ffffff;
          }
        }

        @include touch {
          margin: 1rem;
        }

        &.is-active {
          border-bottom: 0.2rem solid $primary;
          border-top: 0.2rem solid $primary;
        }
      }
    }
  }

  .navbar-end {
    .navbar-item {
      font-size: 1.05rem;
      margin-right: 1rem;
      padding-right: 0;

      @include desktop {
        border-right: 0.2rem solid $primary;
      }

      @include touch {
        border-left: 0.2rem solid $primary;
        margin-left: 1rem;
        padding-left: 0;
      }

      .user {
        display: flex;
        flex-direction: column;
        padding: 0 0.5rem;

        @include desktop {
          text-align: right;
        }
      }

      .auth-section,
      .lang-section,
      .name-section {
        width: 100%;
      }

      .dropdown {
        margin-top: 0.3rem;
      }

      .dropdown-menu {
        max-width: 6rem;
        min-width: 2rem;
      }

      .current-lang {
        color: #808080;
        font-size: 0.85rem;
      }

      .auth-button {
        font-weight: 600;
      }

      .lang {
        font-size: 0.85rem;
        text-align: center;
      }
    }
  }
}
