@import '../variables';

.navbar-container {
  font-family: $family-navbar;
  padding: 1rem 3rem 0;

  .navbar,
  .navbar-brand {
    background-color: rgba(255, 255, 255, 0);
    height: 6rem;
  }

  .navbar-item {
    color: $primary-black;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      background-color: rgba(255, 255, 255, 0);
    }

    img {
      max-height: 6rem;
    }
  }

  .span-text {
    border-left: 2px solid $primary-black;
    padding-left: 0.8em;
    padding-right: 0.8em;
  }

  .navbar-end {
    .left-span {
      border: 0;
    }

    .right-span {
      border-right: 2px solid $primary-black;
    }
  }

  .langs {
    bottom: 0;
    display: flex;
    height: 2rem;
    margin-right: 4rem;
    padding-top: 2rem;
    position: absolute;
    right: 0;

    .lang {
      background-color: $primary-swiss-coffee;
      margin-left: 5px;
      padding: 5px;
    }

    .underline {
      text-decoration: underline;
    }
  }

  .icon {
    padding: 0 1rem;
  }

  .lang {
    padding: 0 1rem;

    .lang-item {
      font-size: 0.9rem;
      font-weight: 700;
      padding: 0 0.5rem;
    }

    /* @tonia: I think, it's better to rename some classes, this one and 'span-text, 'right-span'... */
    .center {
      border-left: 2px solid $primary-black;
      border-right: 2px solid $primary-black;
    }
  }

  .span-icon {
    border-left: 2px solid $primary-black;
  }

  .logo-image {
    height: 70px;
    margin-left: 20px;
  }

  .logo-text {
    color: $primary-black;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    padding-left: 1rem;
  }
}
