<!DOCTYPE html>
<html lang="be">

<%- include('../legacy/head/head.ejs', { title: '404 Wir.by' }) %>

<body>

  <div class="stub-page">

    <img class="logo" src="<%= imagesPath %>/logo/W-coloured-transparent.png" />
    <div class="title">
      404 Старонка адсутнічае
    </div>
    <div class="subtitle">
      Рэсурс змяніў месцазнаходжанне альбо яго ніколі не існавала
    </div>
    <br />
    <a class="button" href="http://wir.by">
      Перайсці на галоўную
    </a>
    <br />
    <br />
    <br />
    <div class="subtitle">
      <b>Wir.by</b> у сацыяльных сетках:
    </div>
    <div class="social">
      <a class="facebook" href="https://facebook.com/wirdotby"><i class="fa fa-facebook"></i></a>
      <a class="vk" href="https://vk.com/wir_by"><i class="fa fa-vk"></i></a>
      <a class="twitter" href="https://twitter.com/wir_by"><i class="fa fa-twitter"></i></a>
      <a class="telegram" href="https://t.me/wir_by"><i class="fa fa-telegram"></i></a>
      <a class="youtube" href="https://www.youtube.com/channel/UCoj_6A55mEPeba8ZfBHqfCw"><i class="fa fa-youtube"></i></a>
      <a class="instagram" href="https://instagram.com/wir_by"><i class="fa fa-instagram"></i></a>
    </div>

  </div>

</body>

</html>
