<div class="column teammate is-4">
    <img src="<%= imagesPath %>/team/<%= team[idx].image || 'placeholder.png' %>" />
    <div class="name">
        <%= team[idx].name %>
    </div>
    <div class="role">
        <%= team[idx].role %>
    </div>
</div>
