.team {
  .teammate {
    align-items: center;
    display: flex;
    flex-direction: column;

    img {
      border-radius: 50%;
      height: 7rem;
      width: 7rem;
    }

    .name {
      font-weight: bold;
    }

    .role {
      font-size: 0.8rem;
    }
  }
}
