.main {
  width: 1200px;

  &__wrap {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 120px;
    padding-top: 60px;
  }
}

.diary {
  display: flex;
  flex-direction: row;
  height: 170px;
  padding-top: 35px;
  position: relative;

  &__title {
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 33px;
    width: 240px;
  }

  &__text {
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    margin-top: 5px;
    width: 570px;
  }

  &__link {
    outline: none;
  }

  &__image {
    bottom: 0;
    height: 180px;
    position: absolute;
    right: 0;
    width: 180px;
  }
}

.latest-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tags-by-topic {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  width: 100%;

  &__title {
    color: #1a9582;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: right;
    text-transform: uppercase;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 17px;
  }

  &__block {
    border-left: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > div:first-child {
      border-bottom: 1px solid #ffffff;
    }
  }
}

.articles-by-tag {
  display: flex;
  flex-direction: column;
  padding-top: 60px;

  &__head {
    border-bottom: 1px solid #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.8rem;
  }

  &__title {
    color: #1a9582;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3.2rem;
  }
}

.popular-topic {
  background: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 90px;
  padding-bottom: 59px;
  padding-left: 33px;
  padding-right: 120px;
  padding-top: 43px;
  width: 100%;

  &__descrition {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 130px;
  }

  &__title {
  }

  &__block {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__link {
    color: #1a9582;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    width: 840px;
  }
}

.partner-material {
  background: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 90px;
  padding-bottom: 59px;
  padding-left: 33px;
  padding-right: 120px;
  padding-top: 43px;
  width: 100%;

  &__descrition {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 130px;
  }

  &__title {
  }

  &__block {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__link {
    color: #1a9582;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    width: 840px;
  }
}

.horizontal-banner {
  background: black;
  display: flex;
  height: 200px;
  width: 100%;
}
