<!DOCTYPE html>
<html lang="en">
<% var title = 'Login Page' %>
<% include ../head/head.ejs %>
<body>

<% include ../navbar/navbar.ejs %>

<div class="article-page-edit page-content">

</div>

<% include ../footer/footer.ejs %>

</body>
</html>
