<!DOCTYPE html>
<html lang="en">
<% var title = '404 Старонка адсутнічае' %>
<% include ../head/head.ejs %>
<body>

<div class="page-not-found">
    <img class="logo" src="<%= imagesPath %>/logo-turq-transparent.png" width="200"/>
    <div class="title">
        404 Старонка адсутнічае
    </div>
    <div class="subtitle">
        Рэсурс змяніў месцазнаходжанне альбо яго ніколі не існавала
    </div>
    <a class="button" href="../main-page/main-page.html">
        Перайсці на галоўную
    </a>
</div>

</body>
</html>
