@import '../variables';

.page-not-found {
  font-family: $tile-primary-text;
  padding: 7rem 1rem;
  text-align: center;

  .logo {
    margin-bottom: 1rem;
  }

  .title {
    font-size: 3.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .button {
    font-size: 1.3rem;
  }
}
