<div class="column teammate is-4">
    <img src="<%= team[idx].imageUrl || `${imagesPath}/placeholders/user.png` %>" alt="<%= team[idx].name %>" />
    <div class="name">
        <%= team[idx].name %>
    </div>
    <div class="role">
        <%= team[idx].role %>
    </div>
</div>
