html,
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  height: 100%;
  margin: 1rem;

  @include desktop {
    margin: 0;
  }
}

a:link,
a:visited {
  color: inherit;
}

.front-slide {
  box-sizing: border-box;

  @include touch {
    margin: 1rem;
  }

  @include desktop {
    min-height: 100%;
    padding: 15vh 15vw;
  }

  &__left-content {

    @include touch {
      margin-bottom: 2rem;
      margin-top: 4rem;
    }

    @include desktop {
      float: left;
      width: 50%;
    }
  }

  &__right-content {

    @include touch {
      margin-bottom: 3rem;
    }

    @include desktop {
      float: right;
      width: 50%;
    }
  }

  &__arrow-down {
    bottom: 1rem;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);

    @include touch {
      visibility: hidden;
    }

    img {
      opacity: 0.3;
      width: 2.5rem;
    }
  }
}

.project-overview {

  @include desktop {
    padding-right: 5vw;
  }

  &__logo {
    width: 5rem;

    @include desktop {
      width: 6rem;
    }
  }

  &__heading {
    color: $wirby-primary;
    font-size: 5rem;
    font-weight: 400;
  }

  &__subheading {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4em;
    margin: 2rem 0;
  }

  &__contact-email {
    font-weight: 400;

    a:link,
    a:visited {
      color: $wirby-black;
    }
  }
}

.social-weekend {
  font-weight: 400;

  @include desktop {
    padding-left: 5vw;
  }

  &__final-certificate {
    border: 1px solid $wirby-thingray;
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    margin: 3rem 0 1rem;
    padding: 1rem;
    width: 100%;

    @include desktop {
      margin: 1.5rem 0;
      width: 18rem;
    }
  }

  &__heading {
    font-size: 0.9rem;
    line-height: 1.5em;
  }

  &__subheading {
    font-size: 0.8rem;
    line-height: 1.5em;
  }
}

.secondary-content {
  margin: auto;
  overflow: auto;

  @include desktop {
    width: 70%;
  }

  &__section {
    //
  }

  &__section-heading {
    font-size: 1.6rem;
    line-height: 1.35em;
    margin: 2rem 0 1rem;
  }
}

.text-description {
  line-height: 1.42em;

  ul {
    list-style-position: outside;
    padding-left: 1.5em;
  }
}

.team {
  margin-bottom: 1rem;
  margin-top: 1rem;

  @include desktop {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  &__grid {

    @include tablet {
      width: 90%;
    }

    .columns {
      margin: 0;
      max-width: 100%;
    }
  }

  &__column {
    padding: 0;
  }

  &__special-thanks {
    padding-top: 0.5rem;

    @include desktop {
      padding-top: 1.5rem;
    }
  }
}

.partners {
  margin-bottom: 3rem;
  margin-top: 2rem;

  &__columns {
    margin: 0;
    width: 75%;

    @include desktop {
      margin: 1.5rem 0;
    }
  }
}

.partner {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  text-align: center;

  &__logo {
    width: 60%;

    @include touch {
      margin-bottom: 1.5rem;
    }

    @include desktop {
      width: 85%;
    }

    &--size--smaller {
      width: 50%;

      @include desktop {
        width: 75%;
      }
    }

    &--size--smallest {
      width: 45%;

      @include desktop {
        width: 60%;
      }
    }
  }
}

.stickers {
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding-top: 5rem;

  @include desktop {
    width: 60%;
  }

  a:link,
  a:visited {
    color: $wirby-white;
    text-decoration: none;
  }

  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 1rem;
    width: 55%;
  }

  &__header {
    color: $wirby-header-gray;
    float: left;
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }

  &__button-install {
    background-color: $skaryna-stickers-color;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem;
  }

  &__image-container {
    width: 45%;
  }

  &__image {
    filter: brightness(90%);
    width: 100%;

    @include touch {
      padding-top: 2rem;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 5rem 0;

  @include desktop {
    flex-direction: row;
  }

  &__content {
    flex-grow: 1;
  }

  &__header {
    color: $wirby-header-gray;
    font-size: 1.7rem;
    padding: 1rem 0;
  }

  &__social-network-link {
    padding-right: 0.2rem;

    @include desktop {
      padding-right: 1rem;
    }
  }
}
