<div class="column section__teammate %>">
    <img class="image__team-member" src="<%= team[idx].imageUrl || `${imagesPath}/placeholders/user.png` %>" alt="<%= team[idx].name %>" />
    <div class="label__teammate-name">
        <%= team[idx].name %>
    </div>
    <div class="label__teammate-role">
        <%= team[idx].role %>
    </div>
</div>
