<div class="column teammate">
    <img class="teammate__photo" src="<%= team[idx].imageUrl || `${locals.imagesPath}/placeholders/user.png` %>" alt="<%= team[idx].name %>" />
    <div class="teammate__name">
        <%= team[idx].name %>
    </div>
    <div class="teammate__role">
        <%= team[idx].role %>
    </div>
</div>
