@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
body {
  font-family: 'Ubuntu', sans-serif;
}

.article {
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}

.article .theme-dark {
  color: #000000;
}

.article__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: space-between;
}

.article__title {
  font-weight: bold;
}

.article__author {
  font-size: 14px;
  line-height: 21px;
}

.article__read {
  color: #0dc6aa;
}

.article__read .theme-dark {
  color: #1a9582;
}

.size-xxl .article {
  height: 630px;
  width: 1020px;
}

.size-xxl .article__cover {
  max-width: 390px;
  min-width: 390px;
}

.size-xxl .article__content {
  padding: 30px 60px 66px 30px;
}

.size-xxl .article__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xxl .article__author {
  margin-top: 24px;
}

.size-xxl .article__content-bottom {
  font-size: 20px;
  line-height: 36px;
  margin-top: 57px;
}

.size-xl .article {
  height: 504px;
  width: 818px;
}

.size-xl .article__cover {
  max-width: 313px;
  min-width: 313px;
}

.size-xl .article__content {
  padding: 24px 62px 48px 23px;
}

.size-xl .article__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xl .article__author {
  margin-top: 24px;
}

.size-xl .article__content-bottom {
  font-size: 14px;
  line-height: 21px;
  margin-top: 26px;
}

.size-l .article {
  height: 390px;
  width: 624px;
}

.size-l .article__cover {
  max-width: 240px;
  min-width: 240px;
}

.size-l .article__content {
  padding: 28px 42px 42px 30px;
}

.size-l .article__title {
  font-size: 30px;
  line-height: 36px;
}

.size-l .article__author {
  margin-top: 18px;
}

.size-l .article__content-bottom {
  font-size: 14px;
  line-height: 21px;
  margin-top: 26px;
}

.size-m .article {
  height: 300px;
  width: 480px;
}

.size-m .article__cover {
  max-width: 186px;
  min-width: 186px;
}

.size-m .article__content {
  padding: 30px 30px 42px 24px;
}

.size-m .article__title {
  font-size: 30px;
  line-height: 36px;
}

.size-m .article__author {
  margin-top: 12px;
}

.size-m .article__content-bottom {
  font-size: 14px;
  line-height: 21px;
}

.size-m .article__description {
  display: none;
}

.square-article {
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.square-article .theme-dark {
  color: #000000;
}

.square-article__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.square-article__title {
  font-weight: bold;
  text-align: center;
}

.square-article__author {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.size-square-m .square-article {
  height: 390px;
  width: 390px;
}

.size-square-m .square-article__content {
  padding: 3px 39px 42px;
}

.size-square-m .square-article__title {
  font-size: 30px;
  line-height: 36px;
}

.size-square-s .square-article {
  height: 300px;
  width: 300px;
}

.size-square-s .square-article__content {
  padding: 21px 0 42px;
}

.size-square-s .square-article__title {
  font-size: 20px;
  line-height: 24px;
}
body {
  font-family: 'Ubuntu', sans-serif;
}

.article {
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}

.article .theme-dark {
  color: #000000;
}

.article__content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.article__title {
  font-weight: bold;
}

.article__author {
  font-size: 14px;
  line-height: 21px;
}

.article__read {
  color: #0dc6aa;
}

.article__read .theme-dark {
  color: #1a9582;
}

.size-xxl .article {
  height: 630px;
  width: 1020px;
}

.size-xxl .article__cover {
  min-width: 390px;
  max-width: 390px;
}

.size-xxl .article__content {
  padding: 30px 60px 66px 30px;
}

.size-xxl .article__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xxl .article__author {
  margin-top: 24px;
}

.size-xxl .article__content-bottom {
  font-size: 20px;
  line-height: 36px;
  margin-top: 57px;
}

.size-xl .article {
  height: 504px;
  width: 818px;
}

.size-xl .article__cover {
  min-width: 313px;
  max-width: 313px;
}

.size-xl .article__content {
  padding: 24px 62px 48px 23px;
}

.size-xl .article__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xl .article__author {
  margin-top: 24px;
}

.size-xl .article__content-bottom {
  font-size: 14px;
  line-height: 21px;
  margin-top: 26px;
}

.size-l .article {
  height: 390px;
  width: 624px;
}

.size-l .article__cover {
  min-width: 240px;
  max-width: 240px;
}

.size-l .article__content {
  padding: 28px 42px 42px 30px;
}

.size-l .article__title {
  font-size: 30px;
  line-height: 36px;
}

.size-l .article__author {
  margin-top: 18px;
}

.size-l .article__content-bottom {
  font-size: 14px;
  line-height: 21px;
  margin-top: 26px;
}

.size-m .article {
  height: 300px;
  width: 480px;
}

.size-m .article__cover {
  min-width: 186px;
  max-width: 186px;
}

.size-m .article__content {
  padding: 30px 30px 42px 24px;
}

.size-m .article__title {
  font-size: 30px;
  line-height: 36px;
}

.size-m .article__author {
  margin-top: 12px;
}

.size-m .article__content-bottom {
  font-size: 14px;
  line-height: 21px;
}

.size-m .article__description {
  display: none;
}

.square-article {
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.square-article .theme-dark {
  color: #000000;
}

.square-article__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.square-article__title {
  font-weight: bold;
  text-align: center;
}

.square-article__author {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.size-square-m .square-article {
  height: 390px;
  width: 390px;
}

.size-square-m .square-article__content {
  padding: 3px 39px 42px 39px;
}

.size-square-m .square-article__title {
  font-size: 30px;
  line-height: 36px;
}

.size-square-s .square-article {
  height: 300px;
  width: 300px;
}

.size-square-s .square-article__content {
  padding: 21px 0 42px;
}

.size-square-s .square-article__title {
  font-size: 20px;
  line-height: 24px;
}
.stub-page,
.error-page {
  font-family: 'Open Sans', sans-serif;
  padding: 4rem 1rem;
  text-align: center;
}

.stub-page a:link,
.stub-page a:visited,
.error-page a:link,
.error-page a:visited {
  color: inherit;
}

.stub-page .logo,
.error-page .logo {
  margin-bottom: 1rem;
  width: 8rem;
}

.stub-page .title,
.error-page .title {
  font-size: 2.5rem;
  font-weight: 300;
}

.stub-page .title-alt,
.error-page .title-alt {
  color: #808080;
  font-size: 1.6rem;
  font-weight: 300;
}

.stub-page .subtitle,
.error-page .subtitle {
  font-size: 1.2rem;
  font-weight: 300;
}

.stub-page .links,
.error-page .links {
  font-size: 1.2rem;
  font-weight: 300;
}

.stub-page .links-alignment,
.error-page .links-alignment {
  display: inline-block;
  vertical-align: middle;
}

.stub-page .button,
.error-page .button {
  font-size: 1.3rem;
}

.stub-page .social,
.error-page .social {
  font-size: 2rem;
}

.stub-page .social i,
.error-page .social i {
  margin: 0 0.7rem;
}

@media screen and (max-width: 1023px) {
  .stub-page .social i,
  .error-page .social i {
    margin: 0 0.4rem;
  }
}

.stub-page .social .facebook:hover,
.error-page .social .facebook:hover {
  color: #3b5998;
}

.stub-page .social .vk:hover,
.error-page .social .vk:hover {
  color: #45668e;
}

.stub-page .social .twitter:hover,
.error-page .social .twitter:hover {
  color: #1da1f2;
}

.stub-page .social .telegram:hover,
.error-page .social .telegram:hover {
  color: #0088cc;
}

.stub-page .social .youtube:hover,
.error-page .social .youtube:hover {
  color: #bb0000;
}

.stub-page .social .instagram:hover,
.error-page .social .instagram:hover {
  color: #517fa4;
}