

.article {
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  position: relative;
}

.article.theme-dark {
  color: #000000;
}

.article__cover {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.article__brand {
  position: absolute;
}

.article__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.article__title {
  font-weight: bold;
}

.article__author {
  font-size: 14px;
  line-height: 21px;
}

.article__content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.article__read {
  color: #0dc6aa;
}

.article__read.theme-dark {
  color: #1a9582;
}

.size-xxl .article {
  height: 630px;
  width: 1020px;
}

.size-xxl .article__cover-wrapper {
  max-width: 390px;
  min-width: 390px;
}

.size-xxl .article__brand {
  height: 53px;
  left: 49px;
  top: 32px;
  width: 118px;
}

.size-xxl .article__content {
  padding: 30px 60px 66px 30px;
}

.size-xxl .article__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xxl .article__author {
  margin-top: 24px;
}

.size-xxl .article__content-bottom {
  font-size: 20px;
  line-height: 36px;
}

.size-xl .article {
  height: 504px;
  width: 818px;
}

.size-xl .article__cover-wrapper {
  max-width: 313px;
  min-width: 313px;
}

.size-xl .article__brand {
  height: 42px;
  left: 39px;
  top: 26px;
  width: 94px;
}

.size-xl .article__content {
  padding: 24px 62px 48px 23px;
}

.size-xl .article__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xl .article__author {
  margin-top: 24px;
}

.size-xl .article__content-bottom {
  font-size: 14px;
  line-height: 21px;
}

.size-l .article {
  height: 390px;
  width: 624px;
}

.size-l .article__cover-wrapper {
  max-width: 240px;
  min-width: 240px;
}

.size-l .article__brand {
  height: 33px;
  left: 30px;
  top: 36px;
  width: 72px;
}

.size-l .article__content {
  padding: 28px 42px 42px 30px;
}

.size-l .article__title {
  font-size: 30px;
  line-height: 36px;
}

.size-l .article__author {
  margin-top: 18px;
}

.size-l .article__content-bottom {
  font-size: 14px;
  line-height: 21px;
}

.size-m .article {
  height: 300px;
  width: 480px;
}

.size-m .article__cover-wrapper {
  max-width: 186px;
  min-width: 186px;
}

.size-m .article__brand {
  height: 33px;
  left: 30px;
  top: 28px;
  width: 72px;
}

.size-m .article__content {
  padding: 30px 30px 42px 24px;
}

.size-m .article__title {
  font-size: 30px;
  line-height: 36px;
}

.size-m .article__author {
  margin-top: 12px;
}

.size-m .article__content-bottom {
  font-size: 14px;
  line-height: 21px;
}

.size-m .article__description {
  display: none;
}

.square-article {
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.square-article.theme-dark {
  color: #000000;
}

.square-article__cover {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.square-article__brand {
  height: 33px;
  left: 30px;
  position: absolute;
  top: 30px;
  width: 72px;
}

.square-article__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  text-align: center;
}

.square-article__title {
  font-weight: bold;
  text-align: center;
}

.square-article__author {
  font-size: 14px;
  line-height: 21px;
  margin-top: 5px;
  text-align: center;
}

.size-square-m .square-article {
  height: 390px;
  width: 390px;
}

.size-square-m .square-article__cover-wrapper {
  height: 240px;
}

.size-square-m .square-article__content {
  padding: 0 39px 42px;
}

.size-square-m .square-article__title {
  font-size: 30px;
  line-height: 36px;
}

.size-square-s .square-article {
  height: 300px;
  width: 300px;
}

.size-square-s .square-article__cover-wrapper {
  height: 186px;
}

.size-square-s .square-article__content {
  padding: 0 10px 42px;
}

.size-square-s .square-article__title {
  font-size: 20px;
  line-height: 24px;
}
.collection {
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}

.collection.theme-dark {
  color: #000000;
}

.collection__cover {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.collection__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.collection__content-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collection__collection-name {
  font-weight: bold;
}

.collection__aux-image {
  border-radius: 50%;
  height: 68px;
  margin-left: 24px;
  min-width: 68px;
}

.collection__title {
  font-weight: bold;
}

.collection__author {
  font-size: 14px;
  line-height: 21px;
}

.size-xxl .collection {
  height: 630px;
  width: 1020px;
}

.size-xxl .collection__cover-wrapper {
  max-width: 390px;
  min-width: 390px;
}

.size-xxl .collection__content {
  padding: 31px 58px 66px 30px;
}

.size-xxl .collection__collection {
  font-size: 20px;
  line-height: 36px;
}

.size-xxl .collection__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xxl .collection__author {
  margin-top: 24px;
}

.size-xl .collection {
  height: 504px;
  width: 818px;
}

.size-xl .collection__cover-wrapper {
  max-width: 313px;
  min-width: 313px;
}

.size-xl .collection__content {
  padding: 25px 59px 42px 23px;
}

.size-xl .collection__collection {
  font-size: 20px;
  line-height: 24px;
}

.size-xl .collection__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xl .collection__author {
  margin-top: 24px;
}

.size-l .collection {
  height: 390px;
  width: 624px;
}

.size-l .collection__cover-wrapper {
  max-width: 240px;
  min-width: 240px;
}

.size-l .collection__content {
  padding: 30px 40px 42px 30px;
}

.size-l .collection__collection {
  font-size: 20px;
  line-height: 27px;
}

.size-l .collection__title {
  font-size: 30px;
  line-height: 36px;
}

.size-l .collection__author {
  margin-top: 18px;
}

.size-m .collection {
  height: 300px;
  width: 480px;
}

.size-m .collection__cover-wrapper {
  max-width: 186px;
  min-width: 186px;
}

.size-m .collection__content {
  padding: 30px 28px 42px 24px;
}

.size-m .collection__collection {
  font-size: 14px;
  line-height: 21px;
}

.size-m .collection__title {
  font-size: 30px;
  line-height: 36px;
}

.size-m .collection__author {
  margin-top: 12px;
}

.size-square-m .collection {
  height: 390px;
  width: 390px;
}

.size-square-m .collection__content {
  padding: 25px 50px 42px 39px;
}

.size-square-m .collection__collection {
  font-size: 14px;
  line-height: 21px;
}

.size-square-m .collection__title {
  font-size: 30px;
  line-height: 36px;
}

.size-square-m .collection__author {
  margin-top: 12px;
}

.size-square-s .collection {
  height: 300px;
  width: 300px;
}

.size-square-s .collection__content {
  padding: 19px 29px 42px 30px;
}

.size-square-s .collection__collection {
  font-size: 14px;
  line-height: 21px;
}

.size-square-s .collection__title {
  font-size: 30px;
  line-height: 36px;
}

.size-square-s .collection__author {
  margin-top: 12px;
}

.location {
  background-size: cover;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.location.theme-dark {
  color: #000000;
}

.location__title {
  font-weight: bold;
}

.size-l .location {
  height: 390px;
  width: 624px;
  padding: 0 39px 43px;
}

.size-l .location__title {
  font-size: 72px;
  line-height: 72px;
}

.size-square-m .location {
  height: 390px;
  width: 390px;
  padding: 0 30px 42px;
}

.size-square-m .location__title {
  font-size: 48px;
  line-height: 60px;
}

.size-square-s .location {
  height: 300px;
  width: 300px;
  padding: 0 30px 42px;
}

.size-square-s .location__title {
  font-size: 48px;
  line-height: 60px;
}

.size-s .location {
  height: 194px;
  width: 390px;
  padding: 0 30px 42px;
}

.size-s .location__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xs .location {
  height: 194px;
  width: 232px;
  padding: 0 30px 42px;
}

.size-xs .location__title {
  font-size: 30px;
  line-height: 36px;
}
.person {
  background-color: #000000;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.person.theme-dark {
  color: #000000;
}

.person__cover-wrapper {
  height: 100%;
}

.person__cover {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.person__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.person__years {
  font-size: 14px;
  line-height: 18px;
}

.person__title {
  font-weight: bold;
}

.size-l .person {
  height: 390px;
  width: 624px;
}

.size-l .person__cover-wrapper {
  width: 390px;
}

.size-l .person__content {
  bottom: 42px;
  left: 30px;
  position: absolute;
  width: 240px;
}

.size-l .person__title {
  font-size: 72px;
  line-height: 72px;
  margin-top: 18px;
}

.size-l .person__description {
  font-size: 14px;
  line-height: 21px;
  margin-top: 19px;
}

.size-square-m .person {
  height: 390px;
  width: 390px;
}

.size-square-m .person__cover-wrapper {
  width: 100%;
}

.size-square-m .person__content {
  bottom: 42px;
  left: 30px;
  position: absolute;
  right: 48px;
  width: 100%;
}

.size-square-m .person__title {
  font-size: 48px;
  line-height: 60px;
  margin-top: 18px;
}

.size-square-m .person__description {
  display: none;
}

.size-square-s .person {
  height: 300px;
  width: 300px;
}

.size-square-s .person__cover-wrapper {
  width: 100%;
}

.size-square-s .person__content {
  bottom: 42px;
  left: 23px;
  position: absolute;
  right: 37px;
  width: 100%;
}

.size-square-s .person__title {
  font-size: 48px;
  line-height: 60px;
}

.size-square-s .person__description {
  display: none;
}

.size-s .person {
  height: 194px;
  width: 390px;
}

.size-s .person__cover-wrapper {
  width: 194px;
}

.size-s .person__content {
  bottom: 42px;
  left: 30px;
  position: absolute;
  width: 230px;
}

.size-s .person__title {
  font-size: 48px;
  line-height: 60px;
}

.size-s .person__description {
  display: none;
}

.size-xs .person {
  height: 194px;
  width: 232px;
}

.size-xs .person__cover-wrapper {
  width: 194px;
}

.size-xs .person__content {
  bottom: 42px;
  left: 30px;
  position: absolute;
  width: 150px;
}

.size-xs .person__title {
  font-size: 30px;
  line-height: 36px;
  margin-top: 7px;
}

.size-xs .person__description {
  display: none;
}
.video {
  background-color: #000000;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.video.theme-dark {
  color: #000000;
}

.video__cover-wrapper {
  position: relative;
  width: 100%;
}

.video__cover {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.video__cover-gradient {
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  position: absolute;
  width: 100%;
}

.video__icon {
  font-size: 56px;
  left: 31px;
  position: absolute;
  top: 20px;
}

.video__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.video__title {
  font-weight: bold;
}

.size-xxl .video {
  height: 630px;
  width: 1020px;
  padding-bottom: 56px;
}

.size-xxl .video__cover-wrapper {
  height: 100%;
}

.size-xxl .video__cover-gradient {
  height: 236px;
}

.size-xxl .video__content {
  bottom: 26px;
  left: 31px;
  position: absolute;
  right: 89px;
  top: 0;
}

.size-xxl .video__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xxl .video__author {
  font-size: 14px;
  line-height: 21px;
  margin-top: 24px;
}

.size-xl .video {
  height: 504px;
  width: 818px;
  padding-bottom: 45px;
}

.size-xl .video__cover-wrapper {
  height: 100%;
}

.size-xl .video__cover-gradient {
  height: 189px;
}

.size-xl .video__content {
  bottom: 42px;
  left: 30px;
  position: absolute;
  right: 68px;
  top: 0;
}

.size-xl .video__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xl .video__author {
  font-size: 14px;
  line-height: 21px;
  margin-top: 24px;
}

.size-l .video {
  height: 390px;
  width: 624px;
  padding-bottom: 29px;
}

.size-l .video__cover-wrapper {
  height: 100%;
}

.size-l .video__cover-gradient {
  height: 144px;
}

.size-l .video__content {
  bottom: 47px;
  left: 31px;
  position: absolute;
  right: 53px;
  top: 0;
}

.size-l .video__title {
  font-size: 48px;
  line-height: 48px;
}

.size-l .video__author {
  font-size: 14px;
  line-height: 21px;
  margin-top: 18px;
}

.size-m .video {
  height: 300px;
  width: 480px;
  padding-bottom: 31px;
}

.size-m .video__cover-wrapper {
  height: 100%;
}

.size-m .video__cover-gradient {
  height: 111px;
}

.size-m .video__content {
  bottom: 42px;
  left: 31px;
  position: absolute;
  right: 59px;
  top: 0;
}

.size-m .video__title {
  font-size: 48px;
  line-height: 48px;
}

.size-m .video__author {
  font-size: 14px;
  line-height: 21px;
  margin-top: 12px;
}

.size-square-m .video {
  height: 390px;
  width: 390px;
}

.size-square-m .video__cover-wrapper {
  height: 218px;
}

.size-square-m .video__cover-gradient {
  display: none;
}

.size-square-m .video__content {
  height: 100%;
  padding: 0 10px 40px;
  text-align: center;
}

.size-square-m .video__title {
  font-size: 30px;
  line-height: 36px;
}

.size-square-m .video__author {
  font-size: 14px;
  line-height: 18px;
  margin-top: 11px;
}

.size-square-s .video {
  height: 300px;
  width: 300px;
}

.size-square-s .video__cover-wrapper {
  height: 168px;
}

.size-square-s .video__cover-gradient {
  display: none;
}

.size-square-s .video__content {
  height: 100%;
  padding: 0 10px 39px;
  text-align: center;
}

.size-square-s .video__title {
  font-size: 20px;
  line-height: 27px;
}

.size-square-s .video__author {
  font-size: 14px;
  line-height: 18px;
  margin-top: 11px;
}
.footer-layout {
  margin: 1rem 2rem 1rem 1rem;
  padding: 2rem 0 0;
}

@media screen and (min-width: 650px) {
  .footer-layout {
    margin: 3rem 6rem 3rem 3rem;
    padding: 3rem 0 0;
  }
}

.footer-layout__nested1 {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1100px) {
  .footer-layout__nested1 {
    flex-direction: row;
  }
}

.footer-layout__nested2 {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 650px) {
  .footer-layout__nested2 {
    flex-direction: row;
  }
}

@media screen and (min-width: 1100px) {
  .footer-layout__nested2 {
    flex: 5;
  }
}

@media screen and (min-width: 650px) {
  .footer-layout__block1 {
    flex: 1;
  }
}

@media screen and (min-width: 650px) {
  .footer-layout__block2 {
    flex: 1;
  }
}

@media screen and (min-width: 1100px) {
  .footer-layout__block3 {
    flex: 2;
  }
}

.footer {
  border-top: solid 1px #888888;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.footer__header {
  color: #000000;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 0 1rem;
}

.footer__links {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.footer__links-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer__item {
  padding: 0.5rem 0;
}

.footer__interactions {
  padding: 1rem 0;
}

@media screen and (min-width: 650px) {
  .footer__interactions {
    padding: 0;
  }
}

@media screen and (min-width: 1100px) {
  .footer__interactions {
    padding: 0 2rem;
  }
}

.footer__mailing {
  padding-bottom: 1rem;
}

.footer__help-us {
  padding: 1rem 0;
}

@media screen and (min-width: 1100px) {
  .footer__help-us {
    padding: 0 2rem;
  }
}

.footer__help-text {
  line-height: 1.7em;
}

.footer__bottom {
  padding: 2rem 0;
}

.footer__copyright {
  margin-right: 1rem;
}
.container {
  margin: 30px;
  width: 250px;
}

.container.theme-dark {
  background-color: #000000;
}

.link {
  padding: 30px;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #c4c4c4;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  margin: 0;
}

@media screen and (min-width: 1360px) {
  body {
    display: block;
    height: unset;
    overflow: auto;
  }
}

footer {
  flex-shrink: 0;
}

.wir-root {
  background-color: #ffffff;
  margin: auto;
  max-width: 1600px;
  min-height: 100vh;
  position: relative;
}

@media screen and (min-width: 1360px) {
  .wir-root {
    display: flex;
    flex-direction: row;
  }
}

.wir-space {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (min-width: 1360px) {
  .wir-space {
    flex-grow: 1;
  }
}

.wir-content {
  flex: 1 0 auto;
}

.wir-overlay {
  background-color: #000000;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.wir-overlay--active {
  display: block;
}

.wir-sidebar {
  display: none;
  flex-shrink: 0;
  z-index: 2;
}

@media screen and (min-width: 1360px) {
  .wir-sidebar {
    display: unset;
  }
}

@media screen and (max-width: 1359px) {
  .wir-sidebar--expanded {
    display: unset;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.wir-up {
  bottom: 30px;
  font-size: 3rem;
  position: absolute;
  right: 30px;
  z-index: 4;
}
.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
}

.navbar__logo {
  width: 2.6rem;
}

.navbar__title {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 0 1.4rem;
  text-transform: uppercase;
}

.navbar__burger {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 30px;
  justify-content: space-between;
  margin-left: auto;
  width: 35px;
}

@media screen and (min-width: 1360px) {
  .navbar__burger {
    display: none;
  }
}

.navbar__burger-item {
  background-color: #1a9582;
  border-radius: 2px;
  height: 5px;
  width: 100%;
}
.sidebar {
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 24px;
  min-width: 240px;
  padding: 21px 24px 60px;
  width: 185px;
}

@media screen and (min-width: 1600px) {
  .sidebar {
    width: 300px;
  }
}

.sidebar__langs {
  color: #1a9582;
  letter-spacing: 1px;
  list-style: none;
  margin-bottom: 38px;
  margin-top: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  text-transform: uppercase;
}

.sidebar__about-label {
  letter-spacing: 1px;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.sidebar__icon-close {
  color: #1a9582;
  cursor: pointer;
  float: right;
  font-size: 20px;
}

@media screen and (min-width: 1360px) {
  .sidebar__icon-close {
    display: none;
  }
}

.sidebar__divider {
  border: 0.5px solid #888888;
}

.sidebar__section {
  margin: 60px 0;
  padding: 0;
}

.sidebar__section-title {
  color: #000000;
  letter-spacing: 1px;
  margin-bottom: 9px;
  text-transform: uppercase;
}

.sidebar__section-list {
  color: #1a9582;
  font-size: 20px;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

.sidebar__section-list-item {
  list-style: none;
  padding: 6px 0;
}

.sidebar__section-list-item::first-letter {
  text-transform: capitalize;
}

.sidebar__section-link-to-all {
  color: #1a9582;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 30px;
  text-transform: uppercase;
}
.wir-input {
  display: flex;
  position: relative;
}

.wir-input__icon {
  color: #000000;
  font-size: 20px;
  margin: 5px 0 8px;
}

.wir-input__icon-left {
  margin-right: 11.5px;
  order: -1;
}

.wir-input__icon-right {
  margin-left: 11.5px;
}

.wir-input__icon-loading {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.wir-input__bar {
  background-color: #000000;
  bottom: 0;
  height: 2px;
  position: absolute;
  width: 100%;
}

.wir-input input {
  background: inherit;
  border: 0;
  flex-grow: 1;
  font-size: 20px;
  height: 30px;
  margin: 5px 0 8px;
  min-width: 0;
  outline: none;
}

.wir-input input:hover ~ .wir-input__bar,
.wir-input input:focus ~ .wir-input__bar {
  background-color: #1a9582;
}

.wir-input input:hover ~ .wir-input__icon,
.wir-input input:focus ~ .wir-input__icon {
  color: #1a9582;
}

.wir-input input:disabled ~ .wir-input__bar {
  background-color: #888888;
}

.wir-input input:disabled ~ .wir-input__icon {
  color: #888888;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.wir-link {
  color: #1a9582;
  cursor: pointer;
  text-decoration: none;
}

.wir-link--theme-dark {
  color: #0dc6aa;
}

.wir-link--theme-dark:link,
.wir-link--theme-dark:visited {
  color: #0dc6aa;
}

.wir-link--theme-dark:hover {
  color: #00ffd8;
}

.wir-link__icon {
  align-items: center;
  display: inline-flex;
  font-size: 20px;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}

.wir-link:link,
.wir-link:visited {
  color: #1a9582;
}

.wir-link:hover {
  color: #0dc6aa;
}

.wir-link--disabled {
  opacity: 0.2;
  pointer-events: none;
}
.wir-social-buttons {
  border: 1px solid #888888;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.wir-social-buttons__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1px;
}

.wir-social-buttons__item {
  border-left: 1px solid #888888;
  flex-basis: auto;
  flex-grow: 1;
  width: 2rem;
}

.wir-social-buttons__item:hover {
  box-shadow: inset 0 0 1px #888888;
  cursor: pointer;
}

.wir-social-buttons__button {
  font-size: 1.3rem;
  padding: 0.3rem;
  text-align: center;
}

.wir-social-buttons__button--facebook {
  color: #3b5998;
}

.wir-social-buttons__button--vk {
  color: #45668e;
}

.wir-social-buttons__button--twitter {
  color: #1da1f2;
}

.wir-social-buttons__button--odnoklassniki {
  color: #ed812b;
}
.stub-page,
.error-page {
  font-family: 'Open Sans', sans-serif;
  padding: 4rem 1rem;
  text-align: center;
}

.stub-page a:link,
.stub-page a:visited,
.error-page a:link,
.error-page a:visited {
  color: inherit;
}

.stub-page .logo,
.error-page .logo {
  margin-bottom: 1rem;
  width: 8rem;
}

.stub-page .title,
.error-page .title {
  font-size: 2.5rem;
  font-weight: 300;
}

.stub-page .title-alt,
.error-page .title-alt {
  color: #808080;
  font-size: 1.6rem;
  font-weight: 300;
}

.stub-page .subtitle,
.error-page .subtitle {
  font-size: 1.2rem;
  font-weight: 300;
}

.stub-page .links,
.error-page .links {
  font-size: 1.2rem;
  font-weight: 300;
}

.stub-page .links-alignment,
.error-page .links-alignment {
  display: inline-block;
  vertical-align: middle;
}

.stub-page .button,
.error-page .button {
  font-size: 1.3rem;
}

.stub-page .social,
.error-page .social {
  font-size: 2rem;
}

.stub-page .social i,
.error-page .social i {
  margin: 0 0.7rem;
}

@media screen and (max-width: 1023px) {
  .stub-page .social i,
  .error-page .social i {
    margin: 0 0.4rem;
  }
}

.stub-page .social .facebook:hover,
.error-page .social .facebook:hover {
  color: #3b5998;
}

.stub-page .social .vk:hover,
.error-page .social .vk:hover {
  color: #45668e;
}

.stub-page .social .twitter:hover,
.error-page .social .twitter:hover {
  color: #1da1f2;
}

.stub-page .social .telegram:hover,
.error-page .social .telegram:hover {
  color: #0088cc;
}

.stub-page .social .youtube:hover,
.error-page .social .youtube:hover {
  color: #bb0000;
}

.stub-page .social .instagram:hover,
.error-page .social .instagram:hover {
  color: #517fa4;
}