@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
body {
  font-family: 'Ubuntu', sans-serif;
}

.article {
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  position: relative;
}

.article.theme-dark {
  color: #000000;
}

.article__cover {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.article__brand {
  position: absolute;
}

.article__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.article__title {
  font-weight: bold;
}

.article__author {
  font-size: 14px;
  line-height: 21px;
}

.article__content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.article__read {
  color: #0dc6aa;
}

.article__read.theme-dark {
  color: #1a9582;
}

.size-xxl .article {
  height: 630px;
  width: 1020px;
}

.size-xxl .article__cover-wrapper {
  max-width: 390px;
  min-width: 390px;
}

.size-xxl .article__brand {
  height: 53px;
  left: 49px;
  top: 32px;
  width: 118px;
}

.size-xxl .article__content {
  padding: 30px 60px 66px 30px;
}

.size-xxl .article__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xxl .article__author {
  margin-top: 24px;
}

.size-xxl .article__content-bottom {
  font-size: 20px;
  line-height: 36px;
}

.size-xl .article {
  height: 504px;
  width: 818px;
}

.size-xl .article__cover-wrapper {
  max-width: 313px;
  min-width: 313px;
}

.size-xl .article__brand {
  height: 42px;
  left: 39px;
  top: 26px;
  width: 94px;
}

.size-xl .article__content {
  padding: 24px 62px 48px 23px;
}

.size-xl .article__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xl .article__author {
  margin-top: 24px;
}

.size-xl .article__content-bottom {
  font-size: 14px;
  line-height: 21px;
}

.size-l .article {
  height: 390px;
  width: 624px;
}

.size-l .article__cover-wrapper {
  max-width: 240px;
  min-width: 240px;
}

.size-l .article__brand {
  height: 33px;
  left: 30px;
  top: 36px;
  width: 72px;
}

.size-l .article__content {
  padding: 28px 42px 42px 30px;
}

.size-l .article__title {
  font-size: 30px;
  line-height: 36px;
}

.size-l .article__author {
  margin-top: 18px;
}

.size-l .article__content-bottom {
  font-size: 14px;
  line-height: 21px;
}

.size-m .article {
  height: 300px;
  width: 480px;
}

.size-m .article__cover-wrapper {
  max-width: 186px;
  min-width: 186px;
}

.size-m .article__brand {
  height: 33px;
  left: 30px;
  top: 28px;
  width: 72px;
}

.size-m .article__content {
  padding: 30px 30px 42px 24px;
}

.size-m .article__title {
  font-size: 30px;
  line-height: 36px;
}

.size-m .article__author {
  margin-top: 12px;
}

.size-m .article__content-bottom {
  font-size: 14px;
  line-height: 21px;
}

.size-m .article__description {
  display: none;
}

.square-article {
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.square-article.theme-dark {
  color: #000000;
}

.square-article__cover {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.square-article__brand {
  height: 33px;
  left: 30px;
  position: absolute;
  top: 30px;
  width: 72px;
}

.square-article__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  text-align: center;
}

.square-article__title {
  font-weight: bold;
  text-align: center;
}

.square-article__author {
  font-size: 14px;
  line-height: 21px;
  margin-top: 5px;
  text-align: center;
}

.size-square-m .square-article {
  height: 390px;
  width: 390px;
}

.size-square-m .square-article__cover-wrapper {
  height: 240px;
}

.size-square-m .square-article__content {
  padding: 0 39px 42px;
}

.size-square-m .square-article__title {
  font-size: 30px;
  line-height: 36px;
}

.size-square-s .square-article {
  height: 300px;
  width: 300px;
}

.size-square-s .square-article__cover-wrapper {
  height: 186px;
}

.size-square-s .square-article__content {
  padding: 0 10px 42px;
}

.size-square-s .square-article__title {
  font-size: 20px;
  line-height: 24px;
}
body {
  font-family: 'Ubuntu', sans-serif;
}

.collection {
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}

.collection.theme-dark {
  color: #000000;
}

.collection__cover {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.collection__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.collection__content-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collection__collection-name {
  font-weight: bold;
}

.collection__aux-image {
  border-radius: 50%;
  height: 68px;
  margin-left: 24px;
  min-width: 68px;
}

.collection__title {
  font-weight: bold;
}

.collection__author {
  font-size: 14px;
  line-height: 21px;
}

.size-xxl .collection {
  height: 630px;
  width: 1020px;
}

.size-xxl .collection__cover-wrapper {
  max-width: 390px;
  min-width: 390px;
}

.size-xxl .collection__content {
  padding: 31px 58px 66px 30px;
}

.size-xxl .collection__collection {
  font-size: 20px;
  line-height: 36px;
}

.size-xxl .collection__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xxl .collection__author {
  margin-top: 24px;
}

.size-xl .collection {
  height: 504px;
  width: 818px;
}

.size-xl .collection__cover-wrapper {
  max-width: 313px;
  min-width: 313px;
}

.size-xl .collection__content {
  padding: 25px 59px 42px 23px;
}

.size-xl .collection__collection {
  font-size: 20px;
  line-height: 24px;
}

.size-xl .collection__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xl .collection__author {
  margin-top: 24px;
}

.size-l .collection {
  height: 390px;
  width: 624px;
}

.size-l .collection__cover-wrapper {
  max-width: 240px;
  min-width: 240px;
}

.size-l .collection__content {
  padding: 30px 40px 42px 30px;
}

.size-l .collection__collection {
  font-size: 20px;
  line-height: 27px;
}

.size-l .collection__title {
  font-size: 30px;
  line-height: 36px;
}

.size-l .collection__author {
  margin-top: 18px;
}

.size-m .collection {
  height: 300px;
  width: 480px;
}

.size-m .collection__cover-wrapper {
  max-width: 186px;
  min-width: 186px;
}

.size-m .collection__content {
  padding: 30px 28px 42px 24px;
}

.size-m .collection__collection {
  font-size: 14px;
  line-height: 21px;
}

.size-m .collection__title {
  font-size: 30px;
  line-height: 36px;
}

.size-m .collection__author {
  margin-top: 12px;
}

.size-square-m .collection {
  height: 390px;
  width: 390px;
}

.size-square-m .collection__content {
  padding: 25px 50px 42px 39px;
}

.size-square-m .collection__collection {
  font-size: 14px;
  line-height: 21px;
}

.size-square-m .collection__title {
  font-size: 30px;
  line-height: 36px;
}

.size-square-m .collection__author {
  margin-top: 12px;
}

.size-square-s .collection {
  height: 300px;
  width: 300px;
}

.size-square-s .collection__content {
  padding: 19px 29px 42px 30px;
}

.size-square-s .collection__collection {
  font-size: 14px;
  line-height: 21px;
}

.size-square-s .collection__title {
  font-size: 30px;
  line-height: 36px;
}

.size-square-s .collection__author {
  margin-top: 12px;
}
body {
  font-family: 'Ubuntu', sans-serif;
}

.video {
  background-color: #000000;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.video.theme-dark {
  color: #000000;
}

.video__cover-wrapper {
  position: relative;
  width: 100%;
}

.video__cover {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.video__cover-gradient {
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  position: absolute;
  width: 100%;
}

.video__icon {
  font-size: 56px;
  left: 31px;
  position: absolute;
  top: 20px;
}

.video__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.video__title {
  font-weight: bold;
}

.size-xxl .video {
  height: 630px;
  width: 1020px;
  padding-bottom: 56px;
}

.size-xxl .video__cover-wrapper {
  height: 100%;
}

.size-xxl .video__cover-gradient {
  height: 236px;
}

.size-xxl .video__content {
  bottom: 26px;
  left: 31px;
  position: absolute;
  right: 89px;
  top: 0;
}

.size-xxl .video__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xxl .video__author {
  font-size: 14px;
  line-height: 21px;
  margin-top: 24px;
}

.size-xl .video {
  height: 504px;
  width: 818px;
  padding-bottom: 45px;
}

.size-xl .video__cover-wrapper {
  height: 100%;
}

.size-xl .video__cover-gradient {
  height: 189px;
}

.size-xl .video__content {
  bottom: 42px;
  left: 30px;
  position: absolute;
  right: 68px;
  top: 0;
}

.size-xl .video__title {
  font-size: 60px;
  line-height: 72px;
}

.size-xl .video__author {
  font-size: 14px;
  line-height: 21px;
  margin-top: 24px;
}

.size-l .video {
  height: 390px;
  width: 624px;
  padding-bottom: 29px;
}

.size-l .video__cover-wrapper {
  height: 100%;
}

.size-l .video__cover-gradient {
  height: 144px;
}

.size-l .video__content {
  bottom: 47px;
  left: 31px;
  position: absolute;
  right: 53px;
  top: 0;
}

.size-l .video__title {
  font-size: 48px;
  line-height: 48px;
}

.size-l .video__author {
  font-size: 14px;
  line-height: 21px;
  margin-top: 18px;
}

.size-m .video {
  height: 300px;
  width: 480px;
  padding-bottom: 31px;
}

.size-m .video__cover-wrapper {
  height: 100%;
}

.size-m .video__cover-gradient {
  height: 111px;
}

.size-m .video__content {
  bottom: 42px;
  left: 31px;
  position: absolute;
  right: 59px;
  top: 0;
}

.size-m .video__title {
  font-size: 48px;
  line-height: 48px;
}

.size-m .video__author {
  font-size: 14px;
  line-height: 21px;
  margin-top: 12px;
}

.size-square-m .video {
  height: 390px;
  width: 390px;
}

.size-square-m .video__cover-wrapper {
  height: 218px;
}

.size-square-m .video__cover-gradient {
  display: none;
}

.size-square-m .video__content {
  height: 100%;
  padding: 0 10px 40px;
  text-align: center;
}

.size-square-m .video__title {
  font-size: 30px;
  line-height: 36px;
}

.size-square-m .video__author {
  font-size: 14px;
  line-height: 18px;
  margin-top: 11px;
}

.size-square-s .video {
  height: 300px;
  width: 300px;
}

.size-square-s .video__cover-wrapper {
  height: 168px;
}

.size-square-s .video__cover-gradient {
  display: none;
}

.size-square-s .video__content {
  height: 100%;
  padding: 0 10px 39px;
  text-align: center;
}

.size-square-s .video__title {
  font-size: 20px;
  line-height: 27px;
}

.size-square-s .video__author {
  font-size: 14px;
  line-height: 18px;
  margin-top: 11px;
}
.stub-page,
.error-page {
  font-family: 'Open Sans', sans-serif;
  padding: 4rem 1rem;
  text-align: center;
}

.stub-page a:link,
.stub-page a:visited,
.error-page a:link,
.error-page a:visited {
  color: inherit;
}

.stub-page .logo,
.error-page .logo {
  margin-bottom: 1rem;
  width: 8rem;
}

.stub-page .title,
.error-page .title {
  font-size: 2.5rem;
  font-weight: 300;
}

.stub-page .title-alt,
.error-page .title-alt {
  color: #808080;
  font-size: 1.6rem;
  font-weight: 300;
}

.stub-page .subtitle,
.error-page .subtitle {
  font-size: 1.2rem;
  font-weight: 300;
}

.stub-page .links,
.error-page .links {
  font-size: 1.2rem;
  font-weight: 300;
}

.stub-page .links-alignment,
.error-page .links-alignment {
  display: inline-block;
  vertical-align: middle;
}

.stub-page .button,
.error-page .button {
  font-size: 1.3rem;
}

.stub-page .social,
.error-page .social {
  font-size: 2rem;
}

.stub-page .social i,
.error-page .social i {
  margin: 0 0.7rem;
}

@media screen and (max-width: 1023px) {
  .stub-page .social i,
  .error-page .social i {
    margin: 0 0.4rem;
  }
}

.stub-page .social .facebook:hover,
.error-page .social .facebook:hover {
  color: #3b5998;
}

.stub-page .social .vk:hover,
.error-page .social .vk:hover {
  color: #45668e;
}

.stub-page .social .twitter:hover,
.error-page .social .twitter:hover {
  color: #1da1f2;
}

.stub-page .social .telegram:hover,
.error-page .social .telegram:hover {
  color: #0088cc;
}

.stub-page .social .youtube:hover,
.error-page .social .youtube:hover {
  color: #bb0000;
}

.stub-page .social .instagram:hover,
.error-page .social .instagram:hover {
  color: #517fa4;
}