@import '../variables';

@mixin social-button($color) {
  i {
    color: $color;
  }
}

//background image
body {
  background: url('../swirl_pattern.png');
}

.main-page {
  .diary {
    font-style: italic;
  }
}

.social-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;

  .social-btn {
    color: $grey;
    margin-left: 0.5rem;
  }

  .facebook {
    @include social-button($wedgewood);
  }

  .twitter {
    @include social-button($picton-blue);
  }

  .google {
    @include social-button($punch);
  }

  .vk {
    @include social-button($chambray);
  }

  .round-btn {
    border-radius: 20px;
  }
}
