@import '../variables';

@mixin social-button($color) {
  i {
    color: $color;
  }
}

.main-page {
  .diary-article {
    .diary {
      font-style: italic;
      margin-right: 1rem;
    }

    .title {
      margin-bottom: 0.5rem;
    }

    .arrow {
      opacity: 0.3;
      position: absolute;
      top: 50%;

      &:hover {
        opacity: 0.7;
      }
    }

    .arrow-left {
      left: 0.8rem;
    }

    .arrow-right {
      right: 0.8rem;
    }

    .diary,
    .title,
    .subtitle {
      margin-left: 1.4rem;
    }

    .date span {
      float: right;
      margin-bottom: 0.5rem;
    }
  }

  .load-more {
    margin-top: 40px;
  }
}

.social-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;

  .social-btn {
    color: $grey;
    margin-left: 0.5rem;
  }

  .facebook {
    @include social-button($wedgewood);
  }

  .twitter {
    @include social-button($picton-blue);
  }

  .google {
    @include social-button($punch);
  }

  .vk {
    @include social-button($chambray);
  }

  .round-btn {
    border-radius: 20px;
  }
}
