.navigation-container {
	margin: 2rem;
}

.navigation-container .nav-item {
	font-size: 2rem;
	font-weight: 700;
}

.navigation-container .logo {
	font-size: 2rem;
}

.navigation-container .search-field {
	margin: auto;
}

