@import 'variables';

.image .is-3by1 {
  padding-top: 30%;

  img {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.page-content {
  @include desktop {
    margin: 3rem 4rem;
  }

  @include touch {
    margin: 1rem 1rem 3rem;
  }
}

.button.is-rounded {
  border-radius: 5rem;
}
