@import 'variables';

.image .is-3by1 {
  padding-top: 30%;

  img {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

//background image
body {
  background: url('/images/swirl_pattern_edited.jpg');
}

.page-content {
  margin: 3rem 4rem;

  article {
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: 0;
      padding: 10px;
    }

    .title a {
      font-weight: bold;
    }

    .subtitle {
      font-size: 12pt;
      margin: 10px;
    }

    .card-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0.8rem;
    }

    .subtext {
      font-size: 11pt;
      padding-bottom: 50px;
    }

    .author {
      background-color: $author-background;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      bottom: 0;
      margin-top: 15px;
      padding: 5px;
      position: absolute;
      vertical-align: bottom;
      width: 100%;

      img {
        border-radius: 50%;
        float: left;
        margin-right: 10px;
        width: 40px;
      }

      .name {
        font-weight: 600;
        padding: 8px;
        text-overflow: ellipsis;
        vertical-align: bottom;
      }
    }

    .author-top {
      background-color: $author-background;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      height: 5px;
      margin-bottom: 5px;
    }

    .special {
      background-color: $special-color1;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      height: 30px;
      margin-bottom: 5px;
      padding-top: 3px;
      text-align: center;
    }

    .special-bottom {
      background-color: $special-color1;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      bottom: 0;
      height: 5px;
      position: absolute;
      width: 100%;
    }

    &:hover {
      box-shadow: 2px 2px 5px #b5b5b5;
    }
  }
}

.special-heading {
  background-color: #fffb37;
  border-radius: 5px;
  position: absolute;
  margin: 0 1rem;
  top: 1rem;

  .handmade {
    height: 100%;
    line-height: 200%;
    text-align: center;
    font-weight: bold;
    text-shadow: 0.5px 0 darkgrey;
  }

  .media-content {
    align-self: center;
    display: none;
    font-size: inherit;
    padding-right: 0.5rem;
  }

  &:hover {
    .media-content {
      display: block;
    }
  }

  .media-left {
    margin-right: 0;
  }
}
