@import 'variables';

.babajka-root {
  height: 100vh;
}

.babajka-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image .is-3by1 {
  padding-top: 30%;

  img {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.page-content {
  flex: 1 0 auto;

  @include desktop {
    margin: 3rem 4rem;
  }

  @include touch {
    margin: 1rem 1rem 3rem;
  }
}

.button.is-rounded {
  border-radius: 5rem;
}

.with-opacity {
  opacity: 0.45;
}
