// Import Bulma's and own variables
@import 'variables';
// Import the rest of Bulma
@import '../node_modules/bulma/bulma';
// Import FontAwesome
@import '../node_modules/font-awesome/scss/font-awesome';


.image .is-3by1 {
  padding-top: 30%;

  img {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.page-content {
  margin: 3rem 4rem;

  article {
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    .title a {
      font-weight: bold;
    }

    .author {
      letter-spacing: 0.3rem;
    }

    .card-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-around;
    }

    &:hover {
      box-shadow: 2px 2px 5px #b5b5b5;
    }
  }
}

.special-heading {
  background-color: #fffb37;
  border-radius: 5px;
  position: absolute;
  right: 1rem;
  top: 1rem;

  .media-content {
    align-self: center;
    display: none;
    font-size: inherit;
    padding-right: 0.5rem;
  }

  &:hover {
    .media-content {
      display: block;
    }
  }

  .media-left {
    margin-right: 0;
  }
}

