$primary: #1a9582;
$primary-caribbean-green: #0dc6aa;
$primary-bright-turquoise: #00ffd8;
$primary-grey: #888888;
$primary-concrete: #f2f2f2;
$primary-black: #000000;

// Social networks official colors
$facebook-color: #3b5998;
$vk-color: #45668e;
$twitter-color: #1da1f2;
$google-plus-color: #d34836;
$instagram-color: #517fa4;
$telegram-color: #0088cc;
$youtube-color: #bb0000;
$odnoklassniki-color: #ed812b;
