<!DOCTYPE html>
<html lang="en">
<% var title = 'Login Page' %>
<% include ../head/head.ejs %>
<body>
<% include ../navbar/navbar.ejs %>

<div class="container login">
    <h1 class="title is-size-5 has-text-centered">
        Увайсці ў Вір
    </h1>
    <div class="field">
        <div class="control has-text-centered">
            <label class="checkbox">
                <input type="checkbox"/>
                У мяне яшчэ няма акаўнта
            </label>
        </div>
    </div>
    <div class="level has-text-centered login__socials">
        <a class="level-item button" title="Увайсці праз Google">
            <span class="icon login__social login__social--google">
                <i class="fa fa-google fa-lg"></i>
            </span>
        </a>
        <a class="level-item button" title="Увайсці праз Facebook">
            <span class="icon login__social login__social--facebook">
                <i class="fa fa-facebook fa-lg"></i>
            </span>
        </a>
        <a class="level-item button" title="Увайсці праз Укантакце">
            <span class="icon login__social login__social--vk">
                <i class="fa fa-vk fa-lg"></i>
            </span>
        </a>
        <a class="level-item button" title="Увайсці праз Twitter">
            <span class="icon login__social login__social--twitter">
                <i class="fa fa-twitter fa-lg"></i>
            </span>
        </a>
    </div>
    <div class="field">
        <label class="label login__input-text">Імя карыстальніка</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="text"/>
            <span class="icon is-small">
                <i class="fa fa-user"></i>
            </span>
        </div>
        <p class="help is-info">Гэта імя карыстальніка даступна</p>
    </div>
    <div class="field">
        <label class="label login__input-text">Пошта</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="email"/>
            <span class="icon is-small">
                <i class="fa fa-envelope"></i>
            </span>
        </div>
        <p class="help is-danger">Гэта пошта з'яўляецца несапраўднай</p>
    </div>
    <div class="field">
        <label class="label is-left login__input-text">
            Пароль
            <a class="is-pulled-right has-text-weight-normal login__input-forgot" href="#">Забыліся на пароль?</a>
        </label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="password"/>
            <span class="icon is-small">
                <i class="fa fa-unlock-alt"></i>
            </span>
        </div>
        <p class="help is-danger">Пароль занадта кароткі (мінімум 7 знакаў)</p>
    </div>
    <div class="field">
        <label class="label login__input-text">Пацвердзіць пароль</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="password"/>
            <span class="icon is-small">
                <i class="fa fa-unlock-alt"></i>
            </span>
        </div>
        <p class="help is-info">Паролі супалі</p>
    </div>
    <div class="field">
        <div class="control has-text-centered">
            <button class="button is-uppercase login__button">
                Go!
            </button>
        </div>
    </div>
</div>

<% include ../footer/footer.ejs %>

</body>
</html>
