@import '../variables';

.container.login {
  margin-bottom: 3rem;
  margin-top: 1rem;
  width: 27.5rem;
}

.login {
  background-color: $white;
  border-radius: 0.3rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  padding: 2rem 3rem;

  .control {
    font-size: 1.1rem;
  }

  &__socials {
    padding: 0 2rem;
  }

  .button {
    border: 0;
  }

  &__social {
    &--google {
      color: #ea4033;
    }

    &--facebook {
      color: #395899;
    }

    &--vk {
      color: #507299;
    }

    &--twitter {
      color: #55aeee;
    }

    &:hover {
      font-size: 1.3rem;
    }
  }

  .label {
    font-size: 0.95rem;
  }

  &__input-forgot {
    color: $picton-blue;
  }

  .input:focus {
    border-color: $picton-blue;
    box-shadow: 0 0 0 0.125em rgba(85, 172, 238, 0.25);
  }

  .field &__button {
    background-color: $picton-blue;
    color: $white;
    padding: 0 1.5rem;

    &:hover {
      background-color: #4ba2e4;
      color: $white;
    }
  }
}
