@import '../variables';

.login-page {
  .login-form .control {
    margin: 1rem 0;
  }

  .social-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;

    .social-btn {
      color: $grey;
      margin-left: 0.5rem;

      i {
        color: $white;
      }
    }

    .facebook {
      background-color: $wedgewood;
    }

    .twitter {
      background-color: $picton-blue;
    }

    .google {
      background-color: $punch;
    }

    .vk {
      background-color: $chambray;
    }

    .form-mode-checkbox {
      color: $primary-mako;
      margin: auto;
      margin-left: 0;
    }
  }

  .round-btn {
    border-color: $white;
    border-radius: 20px;
  }
}
