
.article-page-container {
  background: rgba(255, 255, 255, 0.9);
  margin: 4rem;
}

.article-page-container .content {
  padding: 0 4rem 1rem;
}

.article-page-container .content .heading {
  font-family: PT sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 3.5rem 0 5.5rem;
  text-align: center;
}

.article-page-container .content .author {
  font-family: PT sans-serif;
  font-size: 2rem;
  margin: 1.5rem 0;
}

.article-page-container .content .tags {
  font-size: 1.2rem;
}

.article-page-container .content .text {
  font-size: 1.5rem;
}

.article-page-container .content .articles-links {
  margin: 2rem;
}
.image .is-3by1 {
  padding-top: 30%;
}

.image .is-3by1 img {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.main-page-container .main-block {
  background-color: #dfe0da;
  padding: 3rem 4rem;
}

.main-page-container .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-page-container .secondary-article article {
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-page-container .secondary-article article a:not(.button) {
  text-decoration: none;
}

.main-page-container .diary {
  font-style: italic;
}

.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0.5rem;
}

.social-buttons .social-btn {
  color: #7a7a7a;
  margin-left: 0.5rem;
}

.social-buttons .facebook i {
  color: #4c75a3;
}

.social-buttons .twitter i {
  color: #55acee;
}

.social-buttons .google i {
  color: #dd4b39;
}

.social-buttons .vk i {
  color: #3b5998;
}

.social-buttons .round-btn {
  border-radius: 20px;
}
.login-main-container .login-form .control {
  margin: 1rem 0;
}

.login-main-container .social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0.5rem;
}

.login-main-container .social-buttons .social-btn {
  color: #7a7a7a;
  margin-left: 0.5rem;
}

.login-main-container .social-buttons .social-btn i {
  color: white;
}

.login-main-container .social-buttons .facebook {
  background-color: #4c75a3;
}

.login-main-container .social-buttons .twitter {
  background-color: #55acee;
}

.login-main-container .social-buttons .google {
  background-color: #dd4b39;
}

.login-main-container .social-buttons .vk {
  background-color: #3b5998;
}

.login-main-container .social-buttons .form-mode-checkbox {
  color: #44494d;
  margin: auto;
  margin-left: 0;
}

.login-main-container .round-btn {
  border-color: white;
  border-radius: 20px;
}
.navbar-container .navbar,
.navbar-container .navbar-brand {
  height: 5rem;
}

.navbar-container .navbar-item {
  font-size: 1.5rem;
}

.navbar-container .navbar-item img {
  max-height: 4.5rem;
}

.navbar-container .langs {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  margin-right: 4rem;
  padding-top: 2rem;
  position: absolute;
  right: 0;
}

.navbar-container .langs .lang {
  margin-left: 5px;
  padding: 5px;
}

.navbar-container .langs .underline {
  text-decoration: underline;
}

.navbar-container .logo-text {
  color: #44494d;
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 13px;
  margin-left: 1.5rem;
}