<footer class="app-footer">
    <div class="columns">
        <div class="column general-info">
            Wir.by - Адукацыйная платформа <i class="fa fa-copyright"></i> 2018
            <br />
            Прасоўваем беларускую культуру.
            <br />
            Чытайце больш пра нас і пра праект <a href="../about/about.html">тут</a>.
        </div>
        <div class="column social">
            <div>Сачыце за намі ў сацыяльных сетках:</div>
            <div class="links">
                <a class="button is-medium is-rounded facebook" href="https://facebook.com/wir_by">
                    <span class="icon is-medium">
                        <i class="fa fa-facebook"></i>
                    </span>
                </a>
                <a class="button is-medium is-rounded vk" href="https://vk.com/wir_by">
                    <span class="icon is-medium">
                        <i class="fa fa-vk"></i>
                    </span>
                </a>
                <a class="button is-medium is-rounded twitter" href="https://twitter.com/wir_by">
                    <span class="icon is-medium">
                        <i class="fa fa-twitter"></i>
                    </span>
                </a>
                <a class="button is-medium is-rounded telegram" href="https://t.me/wir_by">
                    <span class="icon is-medium">
                        <i class="fa fa-telegram"></i>
                    </span>
                </a>
                <a class="button is-medium is-rounded youtube" href="https://youtube.com/wir_by">
                    <span class="icon is-medium">
                        <i class="fa fa-youtube"></i>
                    </span>
                </a>
                <a class="button is-medium is-rounded instagram" href="https://instagram.com/wir_by">
                    <span class="icon is-medium">
                        <i class="fa fa-instagram"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>
