<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p><a href="">bla</a> bla <strong>bla</strong> bla.</p>
        </div>
    </div>
</footer>
