@import '../variables';

.app-footer {
  background-color: $primary;
  color: #fff;
  flex-shrink: 0;
  font-family: $family-navbar;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 1.2rem 2rem;
  text-align: center;

  @include mobile {
    padding: 1.2rem 0.6rem;
  }

  .general-info {
    vertical-align: center;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  .social {
    .button {
      height: 2.7rem;
      margin: 0.4rem;
      width: 2.7rem;

      @include mobile {
        margin: 0.5rem 0.2rem;
      }
    }

    .facebook:hover {
      background-color: $facebook-color;
      color: #fff;
    }

    .vk:hover {
      background-color: $vk-color;
      color: #fff;
    }

    .twitter:hover {
      background-color: $twitter-color;
      color: #fff;
    }

    .telegram:hover {
      background-color: $telegram-color;
      color: #fff;
    }

    .youtube:hover {
      background-color: $youtube-color;
      color: #fff;
    }

    .instagram:hover {
      background-color: $instagram-color;
      color: #fff;
    }
  }
}
