<footer class="footer">
    <div class="container">
    <div class="columns is-mobile" align="center">
  			<div class="column">
    			<div class="content"> <h3> Сувязь з намі </h3> </div>
    				<div class="columns is-mobile" align="center">
    					<div class="column">
    						<p> <i class="fa fa-vk" aria-hidden="true"></i> <a href=""> УКантакце </a> </p>
    						<p> <i class="fa fa-facebook" aria-hidden="true"></i> <a href=""> Facebook </a> </p>
    					</div>
    					<div class="column">
    						<p> <i class="fa fa-twitter" aria-hidden="true"></i> <a href=""> Twitter </a> </p>
    						<p> <a href=""> Telegram </a> </p>
    					</div>
    				</div>
  			</div>
  			<div class="column">
  				<a href=""><img src=""></a>
    			<p><a href="https://babajka.github.io/babajka-markup">babajka.io</a></p>
  			</div>
  			<div class="column">
    			<div class="content"> <h3> Падпіска </h3> </div>
    			<p>Каб падпiсацца на новыя матэрыялы, пакiньце тут свой e-mail:</p>
    			<br>
    			<form id="">
    			<input class= "input" type="email" name="" placeholder="example@mail.com">
    			</form>
  			</div>
		</div>
    </div>
</footer>