<footer class="app-footer">
    <div class="container">
        <div class="columns is-mobile" align="center">
            <div class="column">
                <a class="logo" href=""> <img src="<%= imagesPath %>/logo-turq-transparent.png" width="85" height="75" /></a>

                <div class="about"><a href="">Пра нас</a></div>
                <div class="address">wir.development@gmail.com</div>
                <div class="copyright">
                    <span class="icon is-medium">
                        <i class="fa fa-copyright"></i>
                    </span>2018
                </div>
            </div>
            <div class="column">
                <div class="content"><h4>Мэты</h4></div>
                <div class="mission">
                    <%= mission %>
                </div>
                <a class="button more is-rounded">
                    далей
                </a>
            </div>
            <div class="column">
                <div class="content"><h4>#Тэгі</h4></div>
                <div class="tags">
                    <% for(var i = 0; i < JSON.parse(tags).length; i++) { %>
                    <span class="tag is-primary">
                            <%= JSON.parse(tags)[i] %>
                        </span>
                    <% } %>
                </div>
            </div>
            <div class="column">
                <div class="content"><h4>Сувязь</h4></div>
                <div class="links">
                    <a class="button is-medium is-rounded">
                        <span class="icon is-medium">
                            <i class="fa fa-facebook"></i>
                        </span>
                    </a>
                    <a class="button is-medium is-rounded">
                        <span class="icon is-medium">
                            <i class="fa fa-vk"></i>
                        </span>
                    </a>
                    <a class="button is-medium is-rounded">
                        <span class="icon is-medium">
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
                    <a class="button is-medium is-rounded">
                        <span class="icon is-medium">
                            <i class="fa fa-telegram"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
