<footer class="app-footer">
    <div class="container">
        <div class="columns is-mobile" align="center">
            <div class="column">
                <a class="logo" href=""> <img src="<%= imagesPath %>/logo-transparent.png"  width="85" height="75" /></a>

                <div class="about"><a href="">Пра нас</a></div>
                <div class="address">wir-service@gmail.com</div>
            </div>
            <div class="column">
                <div class="content"><h4> Сувязь</h4></div>
                <div class="columns is-mobile" align="center">
                    <div class="row links">
                        <a class="button is-medium is-rounded">
                            <span class="icon is-medium">
                              <i class="fa fa-facebook"></i>
                            </span>
                        </a>
                        <a class="button is-medium is-rounded">
                            <span class="icon is-medium">
                              <i class="fa fa-vk"></i>
                            </span>
                        </a>
                        <a class="button is-medium is-rounded">
                            <span class="icon is-medium">
                              <i class="fa fa-twitter"></i>
                            </span>
                        </a>
                        <a class="button is-medium is-rounded">
                            <span class="icon is-medium">
                              <i class="fa fa-telegram"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="copyright">
                    <span class="icon is-medium">
                        <i class="fa fa-copyright"></i>
                    </span>2017
                </div>
            </div>
            <div class="column is-centered">
                <div class="content"><h4> Падпісвайся! </h4></div>
                <div class="control is-flex email-input">
                    <input class="input" type="text" placeholder="Твой e-mail">
                    <button class="button is-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
</footer>