@import '../variables';

.app-footer {
  background-color: $primary;
  color: #fff;
  font-family: $family-navbar;
  font-weight: 600;
  padding: 1.5rem 2rem;
  text-align: center;

  .general-info {
    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  .social {
    .button {
      margin: 0.4rem;
    }

    .facebook:hover {
      background-color: $facebook-color;
      color: #fff;
    }

    .vk:hover {
      background-color: $vk-color;
      color: #fff;
    }

    .twitter:hover {
      background-color: $twitter-color;
      color: #fff;
    }

    .telegram:hover {
      background-color: $telegram-color;
      color: #fff;
    }

    .youtube:hover {
      background-color: $youtube-color;
      color: #fff;
    }

    .instagram:hover {
      background-color: $instagram-color;
      color: #fff;
    }
  }
}
