// stylelint-disable selector-max-compound-selectors

@import '../variables';

.article-page-edit {
  .title {
    color: $primary-darkgray;
  }

  .localized-data {
    &-title {
      color: $primary-darkgray;
      font-size: 1.4rem;
    }

    .add-locale-button {
      margin: 1rem 0;

      button {
        border-color: $primary;
      }

      button:hover {
        background-color: $primary;
        color: $white;
      }
    }

    .inputs {
      .basics {
        display: flex;
        flex-direction: row;
      }

      .spaced {
        margin: 0.5rem;
      }

      .long-input {
        width: 35%;
      }

      .editor {
        margin-top: 1rem;
      }

      .action-buttons {
        margin-top: 1rem;
        padding-bottom: 1rem;
        vertical-align: center;
      }

      .remove-button {
        float: left;
        padding-left: 1rem;
        padding-top: 0.2rem;

        // stylelint-disable-next-line max-nesting-depth
        &:hover {
          background-color: $danger;
          color: $white;
        }
      }

      .save-button {
        background-color: $primary;
        color: $white;
        float: right;
      }
    }
  }

  .common-data {
    margin-bottom: 1rem;

    &-title {
      color: $primary-darkgray;
      font-size: 1.4rem;
    }

    .inputs {
      align-content: space-between;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 1rem;

      .form-field {
        margin: 1rem;
      }

      .long-input {
        width: 40%;
      }
    }

    .new-entity {
      background-color: $primary-gray;
      margin-bottom: 2rem;
      overflow: auto;
      padding: 1rem;

      &-title {
        color: $primary-darkgray;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      .entity-locale-section {
        border: 1px dashed $primary-darkgray;
        display: flex;
        font-size: 0.5rem;
        justify-content: space-around;
        margin: 0.5rem 0;
        padding: 0.5rem;
      }

      .short-input {
        width: 20%;
      }

      .long-input {
        width: 40%;
      }

      .add-locale-button {
        color: $primary;
        font-size: 1.5rem;
        padding: 0 0.2rem;
        text-align: center;
        vertical-align: middle;
      }

      i {
        transition: 0.5s;
      }

      i:hover {
        transform: rotate(15deg);
        transform-origin: center;
      }

      .action-buttons {
        float: right;
        margin-top: 1rem;
      }

      .save-button {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

.edit-info {
  padding: 1rem 0;

  &__item {
    width: 50rem;
  }
}
