<!DOCTYPE html>
<html lang="be">

<%- include('../head/head.ejs', { locals: { title: locals.title || 'Layout' } }) %>

<body>

  <script>
    function toggleSidebar() {
      console.log('toggled');
      document.getElementById("wir-sidebar").classList.toggle("wir-sidebar--expanded");
    }
  </script>

  <div class="wir-root">

    <div class="wir-space">
      <% include ../navbar/navbar.ejs %>

      <div class="wir-content">
        <% if (locals.content) { %>
          <%- include(locals.content) %>
        <% } %>
      </div>

      <% include ../footer/footer.ejs %>
    </div>

    <div id="wir-sidebar" class="wir-sidebar">
      <%- include('../sidebar/sidebar.ejs', { locals: sidebarData }) %>
    </div>

    <div class="wir-up">
      <%- include('../kit/link/link.ejs', { locals: {
        text: '<span><i class="fa fa-arrow-circle-o-up"></i></span>',
        href: '#'
      } }) %>
    </div>

  </div>

</body>

</html>
