<!DOCTYPE html>
<html lang="be">

<%- include('../head/head.ejs', { title: locals.title || 'Layout' }) %>

<body>

  <script>
    function toggleSidebar() {
      document.getElementById("wir-sidebar").classList.toggle("wir-sidebar--expanded");
      document.getElementById("wir-overlay").classList.toggle("wir-overlay--active");
    }
  </script>

  <div class="wir-root">

    <div class="wir-space">
      <% include ../navbar/navbar.ejs %>

      <div class="wir-content">
        <% if (locals.content) { %>
          <%- include(locals.content) %>
        <% } %>
      </div>

      <% include ../footer/footer.ejs %>

      <div id="wir-overlay" class="wir-overlay"></div>
    </div>

    <div id="wir-sidebar" class="wir-sidebar">
      <%- include('../sidebar/sidebar.ejs', sidebarData ) %>
    </div>

    <div class="wir-up">
      <%- include('../kit/link/link.ejs', {
        text: '<span><i class="fa fa-arrow-circle-o-up"></i></span>',
        href: '#'
      }) %>
    </div>

  </div>

</body>

</html>
