@import '../responsiveness';
@import '../variables';

html {
  height: 100%;
}

body {
  background-color: $primary-widescreen-background;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  margin: 0;

  @include sidebar-visible {
    display: block;
    height: unset;
    overflow: auto;
  }
}

footer {
  flex-shrink: 0;
}

.wir-root {
  background-color: $primary-white;
  margin: auto;
  max-width: $widescreen;
  min-height: 100vh;
  position: relative;

  @include sidebar-visible {
    display: flex;
    flex-direction: row;
  }
}

.wir-space {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include sidebar-visible {
    flex-grow: 1;
  }
}

.wir-content {
  flex: 1 0 auto;
}

.wir-sidebar {
  display: none;
  flex-shrink: 0;

  @include sidebar-visible {
    display: unset;
  }

  &--expanded {
    // This represents the state when sidebar is positioned on top of other content.
    // This happens when one toggles burger button.
    // This only possible on screens which are less than $desktop-with-sidebar.

    @include sidebar-invisible {
      display: unset;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.wir-up {
  bottom: 30px;
  font-size: 3rem;
  position: absolute;
  right: 30px;
}
