<!DOCTYPE html>
<html lang="be">

<%- include('../head/head.ejs', { title: locals.title || 'Layout' }) %>

<script>
  function toggleSidebar() {
    document.getElementById("wir-sidebar").classList.toggle("wir-sidebar--expanded");
    document.getElementById("wir-overlay").classList.toggle("wir-overlay--active");
  }

  // This is an approximate height of the sidebar. The page must be
  // at least this high to fit a long sidebar. Short one is used otherwise.
  let sidebarHeight = 3300;

  // There seem to be no way to get content height with pure CSS.
  // This JS method adjusts classes of sidebar sections.
  function adjustSidebar() {
    let clientHeight = document.getElementById("wir-root").clientHeight;
    let sectionsShort = document.getElementsByClassName("sidebar__section--short");
    let sectionsLong = document.getElementsByClassName("sidebar__section--long");
    let i;
    if (clientHeight < sidebarHeight) {
      for (i = 0; i < sectionsShort.length; i++) {
        sectionsShort[i].classList.add("sidebar__section--visible");
      }
      for (i = 0; i < sectionsLong.length; i++) {
        sectionsLong[i].classList.remove("sidebar__section--visible");
      }
    } else {
      for (i = 0; i < sectionsShort.length; i++) {
        sectionsShort[i].classList.remove("sidebar__section--visible");
      }
      for (i = 0; i < sectionsLong.length; i++) {
        sectionsLong[i].classList.add("sidebar__section--visible");
      }
    }
  }
</script>

<body onload="adjustSidebar()" onresize="adjustSidebar()">

  <div id="wir-root" class="wir-root">

    <div class="wir-space">
      <% include ../navbar/navbar.ejs %>

      <div class="wir-content">
        <% if (locals.content) { %>
          <%- include(locals.content) %>
        <% } %>
      </div>

      <% include ../footer/footer.ejs %>

      <div id="wir-overlay" class="wir-overlay" onclick="toggleSidebar()"></div>
    </div>

    <div id="wir-sidebar" class="wir-sidebar">
      <%- include('../sidebar/sidebar.ejs', sidebarData ) %>
    </div>

    <div class="wir-up">
      <%- include('../kit/link/link.ejs', {
        text: '<span><i class="far fa-arrow-alt-circle-up"></i></span>',
        href: '#'
      }) %>
    </div>

  </div>

</body>

</html>
